In [ ]:
import io
import json
import os
import re
from datetime import datetime
from typing import Dict, List, Optional, Tuple

import pandas as pd
from google.oauth2.service_account import Credentials
from googleapiclient.discovery import build
from googleapiclient.http import MediaIoBaseDownload


# ======================================================
# 1) Credenciales (Colab usa MI_JSON desde userdata; fuera de Colab usa MI_JSON env)
# ======================================================
def get_credentials() -> Credentials:
    """
    - En Colab: usa MI_JSON desde google.colab.userdata (NO os.environ)
    - En GitHub/local: usa variable de entorno MI_JSON
    """
    info: Dict

    try:
        from google.colab import userdata  # type: ignore

        mi_json = userdata.get("MI_JSON")
        if not mi_json:
            raise ValueError("MI_JSON no encontrado en Colab userdata")
        info = json.loads(mi_json)
        print("Entorno detectado: Google Colab")
    except Exception:
        mi_json = os.environ.get("MI_JSON")
        if not mi_json:
            raise ValueError("MI_JSON no encontrado como variable de entorno (GitHub/local)")
        info = json.loads(mi_json)
        print("Entorno detectado: GitHub / local")

    return Credentials.from_service_account_info(
        info,
        scopes=[
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
        ],
    )


creds = get_credentials()
drive_service = build("drive", "v3", credentials=creds)


# ======================================================
# 2) Helpers: meses en espa√±ol + parsing del nombre del archivo
# ======================================================
MES_MAP = {
    "ene": 1,
    "feb": 2,
    "mar": 3,
    "abr": 4,
    "may": 5,
    "jun": 6,
    "jul": 7,
    "ago": 8,
    "sep": 9,
    "oct": 10,
    "nov": 11,
    "dic": 12,
}
MES_NOMBRE = {
    1: "Enero",
    2: "Febrero",
    3: "Marzo",
    4: "Abril",
    5: "Mayo",
    6: "Junio",
    7: "Julio",
    8: "Agosto",
    9: "Septiembre",
    10: "Octubre",
    11: "Noviembre",
    12: "Diciembre",
}


def sheet_name_from_date(dt: datetime) -> str:
    """Ej: datetime(2025,12,...) -> 'Diciembre 2025' """
    return f"{MES_NOMBRE[dt.month]} {dt.year}"


def parse_range_from_filename(name: str) -> Optional[Tuple[int, int, int, int]]:
    """
    Espera nombres tipo:
      'Asignaciones de Cartera Ene26-Abr26.xlsx'
      'Asignaciones de Cartera Sep25-Dic25.xlsx'
    Retorna (start_year, start_month, end_year, end_month) o None si no matchea.
    """
    m = re.search(r"([A-Za-z]{3})(\d{2})\s*-\s*([A-Za-z]{3})(\d{2})", name, flags=re.IGNORECASE)
    if not m:
        return None

    m1, y1, m2, y2 = m.group(1).lower(), m.group(2), m.group(3).lower(), m.group(4)
    if m1 not in MES_MAP or m2 not in MES_MAP:
        return None

    start_month = MES_MAP[m1]
    end_month = MES_MAP[m2]
    start_year = 2000 + int(y1)
    end_year = 2000 + int(y2)

    return (start_year, start_month, end_year, end_month)


def month_index(year: int, month: int) -> int:
    """Convierte (year, month) a √≠ndice comparable."""
    return year * 12 + month


def file_covers_month(file_range: Tuple[int, int, int, int], target_dt: datetime) -> bool:
    sy, sm, ey, em = file_range
    t = month_index(target_dt.year, target_dt.month)
    a = month_index(sy, sm)
    b = month_index(ey, em)
    return a <= t <= b


def is_df_empty_like(df: Optional[pd.DataFrame]) -> bool:
    """
    Considera 'vac√≠a' si:
    - df es None
    - df tiene 0 filas
    - o todas las filas est√°n completamente NaN
    """
    if df is None or df.shape[0] == 0:
        return True
    return df.dropna(how="all").shape[0] == 0


# ======================================================
# 3) Listar archivos en carpeta y elegir el correcto por mes
# ======================================================
def list_assignment_files_in_folder(folder_id: str) -> List[Dict]:
    """
    Lista archivos en la carpeta cuyo nombre contenga 'Asignaciones de Cartera'
    y devuelve una lista con metadatos: id, name, mimeType, modifiedTime, parsed_range
    """
    q = f"'{folder_id}' in parents and trashed=false and name contains 'Asignaciones de Cartera'"
    files: List[Dict] = []
    page_token = None

    while True:
        resp = (
            drive_service.files()
            .list(q=q, fields="nextPageToken, files(id,name,mimeType,modifiedTime)", pageToken=page_token)
            .execute()
        )

        for f in resp.get("files", []):
            fr = parse_range_from_filename(f.get("name", ""))
            if fr:
                f["parsed_range"] = fr
                files.append(f)

        page_token = resp.get("nextPageToken")
        if not page_token:
            break

    if not files:
        raise ValueError(
            "No encontr√© archivos 'Asignaciones de Cartera' con rango tipo Ene26-Abr26 dentro de la carpeta."
        )

    return files


def pick_file_for_month(files_meta: List[Dict], target_dt: datetime) -> Dict:
    """
    Escoge el archivo cuya ventana (en el nombre) cubra el mes target_dt.
    Si hay varios, elige el de rango m√°s corto (m√°s espec√≠fico) y si empatan, el m√°s reciente.
    """
    candidates = []
    for f in files_meta:
        fr = f["parsed_range"]
        if file_covers_month(fr, target_dt):
            sy, sm, ey, em = fr
            span = month_index(ey, em) - month_index(sy, sm)
            candidates.append((span, f.get("modifiedTime", ""), f))

    if candidates:
        candidates.sort(key=lambda x: (x[0], x[1]))  # menor span, luego por modifiedTime asc
        min_span = candidates[0][0]
        same_span = [c for c in candidates if c[0] == min_span]
        same_span.sort(key=lambda x: x[1], reverse=True)  # m√°s reciente primero
        return same_span[0][2]

    t = month_index(target_dt.year, target_dt.month)

    past = []
    for f in files_meta:
        sy, sm, ey, em = f["parsed_range"]
        end_i = month_index(ey, em)
        if end_i <= t:
            past.append((end_i, f.get("modifiedTime", ""), f))
    if past:
        past.sort(key=lambda x: (x[0], x[1]), reverse=True)
        return past[0][2]

    future = []
    for f in files_meta:
        sy, sm, ey, em = f["parsed_range"]
        start_i = month_index(sy, sm)
        if start_i >= t:
            future.append((start_i, f.get("modifiedTime", ""), f))
    if future:
        future.sort(key=lambda x: (x[0], x[1]))
        return future[0][2]

    raise ValueError("No se pudo escoger un archivo por fecha (revisa nombres/rangos).")


# ======================================================
# 4) Descargar archivo (Google Sheets o Excel) a memoria
# ======================================================
def download_file_to_buffer(file_id: str, mime_type: str) -> io.BytesIO:
    buffer = io.BytesIO()

    if mime_type == "application/vnd.google-apps.spreadsheet":
        request = drive_service.files().export_media(
            fileId=file_id,
            mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        )
    else:
        request = drive_service.files().get_media(fileId=file_id)

    downloader = MediaIoBaseDownload(buffer, request)
    done = False
    while not done:
        _, done = downloader.next_chunk()

    buffer.seek(0)
    return buffer


# ======================================================
# 5) Intentar leer hoja del mes target; si est√° vac√≠a -> retroceder mes a mes
# ======================================================
def shift_month(dt: datetime, n: int) -> datetime:
    """Mueve dt n meses (n puede ser negativo)."""
    y = dt.year + (dt.month - 1 + n) // 12
    m = (dt.month - 1 + n) % 12 + 1
    return datetime(y, m, 1)


def load_assignment_base_from_folder(
    folder_id: str, max_back_months: int = 24
) -> Tuple[pd.DataFrame, Dict, str]:
    """
    Busca base del mes actual; si no existe o est√° vac√≠a,
    busca mes anterior (incluyendo cambio de archivo si aplica).
    Retorna: (df, file_meta, sheet_name_usada)
    """
    files_meta = list_assignment_files_in_folder(folder_id)
    today = datetime.today()

    last_error: Optional[Exception] = None

    for back in range(0, max_back_months + 1):
        target_dt = shift_month(today, -back)
        target_sheet = sheet_name_from_date(target_dt)
        chosen = pick_file_for_month(files_meta, target_dt)

        try:
            buffer = download_file_to_buffer(chosen["id"], chosen["mimeType"])
            df = pd.read_excel(buffer, sheet_name=target_sheet, engine="openpyxl")

            if is_df_empty_like(df):
                print(f"üü° {target_sheet} encontrado pero vac√≠o en: {chosen['name']} -> probando mes anterior...")
                continue

            print("‚úÖ Base encontrada")
            print(f"   Archivo: {chosen['name']}")
            print(f"   Hoja:    {target_sheet}")
            return df, chosen, target_sheet

        except Exception as e:
            last_error = e
            print(
                f"üü† No se pudo usar {target_sheet} en {chosen['name']} ({type(e).__name__}) -> probando mes anterior..."
            )

    raise RuntimeError(
        f"No encontr√© una hoja v√°lida en los √∫ltimos {max_back_months} meses. "
        f"√öltimo error: {repr(last_error)}"
    )


# ======================================================
# 6) EJECUCI√ìN
# ======================================================
FOLDER_ID = "1cf2p3R7iM0xowAt4muEruDwxZoZqD_jB"

df, meta_file, sheet_used = load_assignment_base_from_folder(
    folder_id=FOLDER_ID,
    max_back_months=24,
)

df.head()

Entorno detectado: Google Colab
‚úÖ Base encontrada
   Archivo: Asignaciones de Cartera Ene26-Abr26.xlsx
   Hoja:    Enero 2026

,Referencia,Cedula,Nombre del cliente,Id deuda,correo,Deudas Activas,BANCO,N√∫mero de Cr√©dito,Deuda Resuelve,DBT,...,I_ESPERADO,Negociador,Tipo Elegible,P_Cierre_norm,D√≠as Atraso liquidacion,Estado PL,Ultima Liquidacion,dias_desde_ultima_liq,Priority_level,Bucket
0,3012650,52216213,CLAUDIA PATRICIA AVENDANO CALDERON,111266,claudiapa426@hotmail.com,2,Scotiabank Citibank,318121778,9256000.0,58255000.0,...,125415.711006,Negodito,NaN,0.633814,NaN,Al d√≠a,NaT,NaN,Prioridad 2,NaN
1,3122962933,50868603,Luz Nelly Betancourt Ortega,225561,zulyllen@hotmail.com,3,Banco de Occidente,540625-6-730934-608 VQ,2138165.0,11396681.0,...,12585.582824,William Santiago Abril Esguerra,NaN,0.392411,2162.0,Atrasado,NaT,NaN,Prioridad 1,10.0
2,3122962933,50868603,Luz Nelly Betancourt Ortega,225562,zulyllen@hotmail.com,3,Banco de Occidente,417899-4-107487-516 VQ,3299116.0,11396681.0,...,18849.499266,William Santiago Abril Esguerra,NaN,0.340089,1796.0,Atrasado,NaT,NaN,Prioridad 1,10.0
3,3122962933,50868603,Luz Nelly Betancourt Ortega,225563,zulyllen@hotmail.com,3,√âxito,745089099,5959400.0,11396681.0,...,32976.814790,William Santiago Abril Esguerra,NaN,0.274687,1342.0,Atrasado,NaT,NaN,Prioridad 1,10.0
4,3196892494,52902886,Diana Marcela Suarez,404243,marcelasuarezladino@outlook.com,5,Banco Popular,346383,1921650.0,10126350.0,...,9581.346900,Dayana Isabel Ojito Ortiz,NaN,0.346250,1173.0,Atrasado,NaT,NaN,Prioridad 1,NaN

In [ ]:
df = df.rename(columns={"Deuda Resuelve": "D_BRAVO"})

In [ ]:
df.columns

Index(['Referencia', 'Cedula', 'Nombre del cliente', 'Id deuda', 'correo',
       'Deudas Activas', 'BANCO', 'N√∫mero de Cr√©dito', 'D_BRAVO', 'DBT',
       'MORA', 'Dias de Atraso', 'Apartado Mensual', 'Fecha inicio',
       'vehiculo', 'Meses en el Programa', 'tipo_cliente', 'Comisi√≥n Mensual',
       'Tipo de cobro', 'CE', 'Estado Deuda', 'estado_novacion', 'Fecha PL',
       'sub_estado_deuda', 'ID_reparadora', 'estado_reparadora',
       'sub_estado_reparadora', 'dias_mora_ingreso', 'ultima_actividad',
       'PB_PL', 'estado_estructuracion', 'estado_flujo_liquidacion',
       'Ahorro total', 'Ahorro medio', 'Por cobrar', 'BANCOS_ESTANDAR',
       'Descuento', 'ultimo contacto', 'fecha mensaje', 'Mora_estructurado',
       'MORA_CREDITO', 'Potencial Credito', 'ultimo Pab', 'ultima act',
       'Tipo de Liquidacion', 'Clasificaci√≥n Banco', 'Apartados 30%', 'Plazo',
       'Estructurable', 'Potencial', '# Pagos', 'P_Pab', 'S_PAb',
       'Potencial_Estructurados', 'Tipo_Liq_calc', 'P_cierre_tradicional',
       'P_cierre_Credito', 'P_cierre_tradicional_norm',
       'P_cierre_Credito_norm', 'P_Cierre', 'I_ESPERADO', 'Negociador',
       'Tipo Elegible', 'P_Cierre_norm', 'D√≠as Atraso liquidacion',
       'Estado PL', 'Ultima Liquidacion', 'dias_desde_ultima_liq',
       'Priority_level', 'Bucket'],
      dtype='object')

In [ ]:
# ---------------------------------------
# PASO 1 ‚Äî Construir base de cartera asignada
# ---------------------------------------

# Trabajamos sobre copia por seguridad
df_cartera = df.copy()

# Columnas que queremos conservar
cols_cartera = [
    "Referencia",
    "Id deuda",
    "Cedula",
    "Nombre del cliente",
    "Negociador",
    "BANCOS_ESTANDAR",
    "Descuento",
    "D_BRAVO",
    "MORA",
    "Estructurable",
    "Potencial",
    "Meses en el Programa",
    "Tipo de Liquidacion",
    "Bucket",
    "Ahorro total",
    "Ahorro medio",
    "Por cobrar",
    "Potencial Credito",
    "Estado Deuda",
    "sub_estado_deuda",
    "estado_reparadora",
    "sub_estado_reparadora",
    "Mora_estructurado",
    "MORA_CREDITO",
    "Priority_level",
    "ultimo contacto",
    "fecha mensaje"



]

# Validaci√≥n: columnas faltantes
faltantes = [c for c in cols_cartera if c not in df_cartera.columns]
if faltantes:
    raise ValueError(f"Faltan estas columnas en df: {faltantes}")

# Nos quedamos solo con esas columnas
df_cartera = df_cartera[cols_cartera].copy()

# Opcional: eliminar duplicados por deuda (clave natural)
df_cartera = df_cartera.drop_duplicates(subset=["Id deuda"])

# Reset index limpio
df_cartera = df_cartera.reset_index(drop=True)

df_cartera.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41258 entries, 0 to 41257
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Referencia             41258 non-null  int64
 1   Id deuda               41258 non-null  int64
 2   Cedula                 41258 non-null  int64
 3   Nombre del cliente     41258 non-null  object
 4   Negociador             41258 non-null  object
 5   BANCOS_ESTANDAR        41258 non-null  object
 6   Descuento              36308 non-null  float64
 7   D_BRAVO                41258 non-null  float64
 8   MORA                   41258 non-null  int64
 9   Estructurable          41258 non-null  int64
 10  Potencial              36170 non-null  float64
 11  Meses en el Programa   41258 non-null  int64
 12  Tipo de Liquidacion    41258 non-null  object
 13  Bucket                 23172 non-null  float64
 14  Ahorro total           30919 non-null  float64
 15  Ahorro medio           30919 non-null  float64
 16  Por cobrar             30919 non-null  float64
 17  Potencial Credito      9990 non-null   object
 18  Estado Deuda           40878 non-null  object
 19  sub_estado_deuda       32746 non-null  object
 20  estado_reparadora      40878 non-null  object
 21  sub_estado_reparadora  40827 non-null  object
 22  Mora_estructurado      41258 non-null  object
 23  MORA_CREDITO           41258 non-null  object
 24  Priority_level         41258 non-null  object
 25  ultimo contacto        41258 non-null  int64
 26  fecha mensaje          38371 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(7), object(12)
memory usage: 8.5+ MB

In [ ]:
df_cartera

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,MORA,Estructurable,...,Potencial Credito,Estado Deuda,sub_estado_deuda,estado_reparadora,sub_estado_reparadora,Mora_estructurado,MORA_CREDITO,Priority_level,ultimo contacto,fecha mensaje
0,3012650,111266,52216213,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,120,1,...,NaN,negotiation,negotiation,active,saving_paused,No tiene estructurado,No,Prioridad 2,6,NaT
1,3122962933,225561,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,55,1,...,NaN,negotiation,negotiation,active,saving_paused,No tiene estructurado,No,Prioridad 1,1,2025-12-29 07:31:41
2,3122962933,225562,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,55,1,...,NaN,negotiation,negotiation,active,saving_paused,No tiene estructurado,No,Prioridad 1,1,2025-12-29 07:31:41
3,3122962933,225563,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,55,0,...,NaN,negotiation,negotiation,active,saving_paused,No tiene estructurado,No,Prioridad 1,1,2025-12-29 07:31:41
4,3196892494,404243,52902886,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,79,1,...,NaN,negotiation,negotiation,active,saving_paused,No tiene estructurado,No,Prioridad 1,6,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41253,3225833196,2091518,1019066241,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Banco Davivienda,0.3637,13695024.0,7,1,...,NaN,new,debt_assignment,active,saving_opening,No tiene estructurado,No,Prioridad 2,0,2026-01-09 09:44:37
41254,3225833196,2091519,1019066241,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Scotiabank Colpatria,0.5000,50463309.0,7,0,...,NaN,new,debt_assignment,active,saving_opening,No tiene estructurado,No,Prioridad 2,0,2026-01-09 09:44:37
41255,3225833196,2091520,1019066241,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,7,0,...,NaN,new,debt_assignment,active,saving_opening,No tiene estructurado,No,Prioridad 2,0,2026-01-09 09:44:37
41256,3105507630,2091523,79381039,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,7,0,...,NaN,new,debt_assignment,active,saving_opening,No tiene estructurado,No,Prioridad 2,0,2026-01-20 12:05:46
41257,9195828,2091868,9195828,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,7,0,...,NaN,new,projecting_negotiation,active,saving_paused,No tiene estructurado,No,Prioridad 2,0,2026-01-19 12:35:50

In [ ]:
# -*- coding: utf-8 -*-
import os
import json
import pandas as pd
import gspread
from datetime import datetime
from google.oauth2.service_account import Credentials

# =====================================
# 1. Cargar MI_JSON (Colab / GitHub)
# =====================================
def get_mi_json():
    try:
        # ---- Colab ----
        from google.colab import userdata
        mi_json = userdata.get("MI_JSON")
        if not mi_json:
            raise RuntimeError("MI_JSON no encontrado en Colab userdata")
        print("Entorno detectado: Google Colab")
        return mi_json
    except Exception:
        # ---- GitHub Actions / local ----
        mi_json = os.environ.get("MI_JSON")
        if not mi_json:
            raise RuntimeError("MI_JSON no encontrado como variable de entorno (GitHub/local)")
        if os.environ.get("GITHUB_ACTIONS") == "true":
            print("Entorno detectado: GitHub Actions")
        else:
            print("Entorno detectado: Local")
        return mi_json

mi_json = get_mi_json()
creds_dict = json.loads(mi_json)

SCOPES = ["https://www.googleapis.com/auth/spreadsheets.readonly"]
creds = Credentials.from_service_account_info(creds_dict, scopes=SCOPES)
gc = gspread.authorize(creds)

# =====================================
# 2. Definir a√±o objetivo (regla 6 d√≠as)
# =====================================
today = datetime.today()

if today.month == 1 and today.day <= 6:
    target_year = today.year - 1
else:
    target_year = today.year

print(f"üìÖ A√±o objetivo detectado: {target_year}")

# =====================================
# 3. Abrir spreadsheet
# =====================================
SPREADSHEET_ID = "1O8OHuVhgwhLw8XYEBf1uBzLYrxQ45rPiZecHOnAa1Go"
sh = gc.open_by_key(SPREADSHEET_ID)

# =====================================
# 4. Buscar hoja por a√±o en el nombre
# =====================================
worksheet_found = None
for ws in sh.worksheets():
    if str(target_year) in ws.title:
        worksheet_found = ws
        break

if worksheet_found is None:
    raise ValueError(
        f"No se encontr√≥ ninguna hoja cuyo nombre contenga el a√±o {target_year}"
    )

print(f"‚úÖ Hoja seleccionada: '{worksheet_found.title}'")

# =====================================
# 5. Leer a DataFrame
# =====================================
records = worksheet_found.get_all_records()

df_act = pd.DataFrame(records)

print("‚úÖ df_act cargado correctamente")
print("Shape:", df_act.shape)
print(df_act.head())

Entorno detectado: Google Colab
üìÖ A√±o objetivo detectado: 2026
‚úÖ Hoja seleccionada: 'act 2026'
‚úÖ df_act cargado correctamente
Shape: (8089, 7)
                                        observations  \
0  8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...
1  8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...
2  8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...
3  8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...
4  8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...

                               end  debt_id  payment_to_bank  \
0  vivian.rodriguez@gobravo.com.co  1898742  (314820000,COP)
1  vivian.rodriguez@gobravo.com.co  1898737  (270710000,COP)
2  vivian.rodriguez@gobravo.com.co  1898741  (313720000,COP)
3  vivian.rodriguez@gobravo.com.co  1898738  (299530000,COP)
4  vivian.rodriguez@gobravo.com.co  1898739  (304260000,COP)

           inserted_at  bank_reference       Status_Act
0  2026-01-02 13:10:20      3157363121  CONTRAPROPUESTA
1  2026-01-02 13:10:53      3157363121  CONTRAPROPUESTA
2  2026-01-02 13:09:48      3157363121  CONTRAPROPUESTA
3  2026-01-02 13:11:34      3157363121  CONTRAPROPUESTA
4  2026-01-02 13:12:05      3157363121  CONTRAPROPUESTA

In [ ]:
df_act

,observations,end,debt_id,payment_to_bank,inserted_at,bank_reference,Status_Act
0,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898742,"(314820000,COP)",2026-01-02 13:10:20,3157363121,CONTRAPROPUESTA
1,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898737,"(270710000,COP)",2026-01-02 13:10:53,3157363121,CONTRAPROPUESTA
2,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898741,"(313720000,COP)",2026-01-02 13:09:48,3157363121,CONTRAPROPUESTA
3,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898738,"(299530000,COP)",2026-01-02 13:11:34,3157363121,CONTRAPROPUESTA
4,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898739,"(304260000,COP)",2026-01-02 13:12:05,3157363121,CONTRAPROPUESTA
...,...,...,...,...,...,...,...
8084,10:32 a.¬†m. 21/01/2026||Diego S ||se valida po...,diego.sanchez@gobravo.com.co,1805041,"(11875900,COP)",2026-01-21 15:35:53,3144384579,EN_CREDITO
8085,10:35 am|| Jeisson Mengua -- se esta revisand...,jeisson.mengua@respaldocolombia.co,1603396,"(138915000,COP)",2026-01-21 15:36:23,3118675643,ACUERDO
8086,10:36am//Daniela Sanchez//se realiza validaci√≥...,maria.sarta@gobravo.com.co,1911574,"(1022805000,COP)",2026-01-21 15:36:59,3183762784,CONTRAPROPUESTA
8087,JA / 21/01/2025 / 11:03 AM / Se recibe acuerdo...,jhonatan.agudelo@gobravo.com.co,1887179,"(440000000,COP)",2026-01-21 16:05:40,3203848606,ACUERDO
8088,"Angie Cubides // 10:57, llega descuento a TT p...",angie.cubides@gobravo.com.co,1937298,"(255600000,COP)",2026-01-21 15:58:15,3192493139,DESCUENTO

In [ ]:
import pandas as pd
import numpy as np
import re

df_act = df_act.copy()

s = df_act["inserted_at"]

# Pasar todo a string limpio (sin romper NaN)
s_str = s.astype("string").str.strip()

# Serie destino
dt = pd.Series(pd.NaT, index=df_act.index, dtype="datetime64[ns]")

# -----------------------------
# 1) Formato ISO: 2025-12-18 02:09:59 (o 2025-12-18T02:09:59Z)
# -----------------------------
mask_iso = s_str.str.match(r"^\d{4}-\d{2}-\d{2}", na=False)
iso_clean = (
    s_str[mask_iso]
    .str.replace("T", " ", regex=False)
    .str.replace("Z", "", regex=False)
)
dt.loc[mask_iso] = pd.to_datetime(iso_clean, errors="coerce")  # conserva hora

# -----------------------------
# 2) Formato con slash: 2/1/2025 (puede ser d/m/y o m/d/y)
# -----------------------------
mask_slash = s_str.str.contains(r"/", na=False) & (~mask_iso)

# extraer d√≠a/mes/a√±o como n√∫meros
parts = s_str[mask_slash].str.extract(r"^\s*(\d{1,2})/(\d{1,2})/(\d{4})\s*$")
a = pd.to_numeric(parts[0], errors="coerce")  # primera parte
b = pd.to_numeric(parts[1], errors="coerce")  # segunda parte

# reglas para decidir dayfirst vs monthfirst
mask_dayfirst = (a > 12) & (b <= 12)
mask_monthfirst = (b > 12) & (a <= 12)
mask_ambigua = ~(mask_dayfirst | mask_monthfirst)

idx_slash = parts.index

# dayfirst seguro
idx_day = idx_slash[mask_dayfirst.fillna(False)]
dt.loc[idx_day] = pd.to_datetime(s_str.loc[idx_day], errors="coerce", dayfirst=True)

# monthfirst seguro
idx_mon = idx_slash[mask_monthfirst.fillna(False)]
dt.loc[idx_mon] = pd.to_datetime(s_str.loc[idx_mon], errors="coerce", dayfirst=False)

# ambigua -> por defecto dayfirst=True (tu est√°ndar)
idx_amb = idx_slash[mask_ambigua.fillna(True)]
tmp = pd.to_datetime(s_str.loc[idx_amb], errors="coerce", dayfirst=True)

# si alguna ambigua falla, reintenta monthfirst
mask_fail = tmp.isna()
if mask_fail.any():
    tmp.loc[mask_fail] = pd.to_datetime(s_str.loc[idx_amb[mask_fail]], errors="coerce", dayfirst=False)

dt.loc[idx_amb] = tmp

# -----------------------------
# 3) Guardar resultado final
# -----------------------------
df_act["inserted_at"] = dt

# (Opcional) Ver cu√°ntos quedaron NaT
print("NaT en inserted_at:", df_act["inserted_at"].isna().sum())
print("dtype:", df_act["inserted_at"].dtype)

NaT en inserted_at: 0
dtype: datetime64[ns]

In [ ]:
import pandas as pd
import numpy as np
import re

df_act["payment_to_bank"] = (
    df_act["payment_to_bank"]
    .astype(str)
    .str.extract(r"\(?\s*([\d]+)\s*,?\s*COP?\s*\)?", expand=False)
    .astype(float)
)

In [ ]:
df_act['payment_to_bank'] = df_act['payment_to_bank']/100

In [ ]:
df_act = df_act.rename(columns={"Status_Act": "CATEGORIA_PRED"})

In [ ]:
df_act

,observations,end,debt_id,payment_to_bank,inserted_at,bank_reference,CATEGORIA_PRED
0,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898742,3148200.0,2026-01-02 13:10:20,3157363121,CONTRAPROPUESTA
1,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898737,2707100.0,2026-01-02 13:10:53,3157363121,CONTRAPROPUESTA
2,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898741,3137200.0,2026-01-02 13:09:48,3157363121,CONTRAPROPUESTA
3,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898738,2995300.0,2026-01-02 13:11:34,3157363121,CONTRAPROPUESTA
4,8:09 a.¬†m. 2/01/2026 VivianR// Se valida con c...,vivian.rodriguez@gobravo.com.co,1898739,3042600.0,2026-01-02 13:12:05,3157363121,CONTRAPROPUESTA
...,...,...,...,...,...,...,...
8084,10:32 a.¬†m. 21/01/2026||Diego S ||se valida po...,diego.sanchez@gobravo.com.co,1805041,118759.0,2026-01-21 15:35:53,3144384579,EN_CREDITO
8085,10:35 am|| Jeisson Mengua -- se esta revisand...,jeisson.mengua@respaldocolombia.co,1603396,1389150.0,2026-01-21 15:36:23,3118675643,ACUERDO
8086,10:36am//Daniela Sanchez//se realiza validaci√≥...,maria.sarta@gobravo.com.co,1911574,10228050.0,2026-01-21 15:36:59,3183762784,CONTRAPROPUESTA
8087,JA / 21/01/2025 / 11:03 AM / Se recibe acuerdo...,jhonatan.agudelo@gobravo.com.co,1887179,4400000.0,2026-01-21 16:05:40,3203848606,ACUERDO
8088,"Angie Cubides // 10:57, llega descuento a TT p...",angie.cubides@gobravo.com.co,1937298,2556000.0,2026-01-21 15:58:15,3192493139,DESCUENTO

In [ ]:
import pandas as pd

# ‚úÖ Compatibilidad ZoneInfo: en Py<3.9 (algunos entornos) usa backports
try:
    from zoneinfo import ZoneInfo
except ImportError:  # pragma: no cover
    from backports.zoneinfo import ZoneInfo  # type: ignore


def construir_timeline_mes(
    df_cartera: pd.DataFrame,
    df_act: pd.DataFrame,
    ref_date=None,
    tz: str = "America/Bogota",
) -> pd.DataFrame:
    """
    Timeline por deuda:
    - √öltima observaci√≥n antes del mes
    - Todas las observaciones del mes actual
    Requiere que df_act ya tenga columna 'CATEGORIA_PRED' si quieres usarla.
    """

    # =========================
    # 0) Copias defensivas
    # =========================
    df_c = df_cartera.copy()
    df_a = df_act.copy()

    # =========================
    # 1) Fecha de referencia
    # =========================
    tzinfo = ZoneInfo(tz)

    if ref_date is None:
        ref_date = pd.Timestamp.now(tzinfo)
    else:
        ref_date = pd.Timestamp(ref_date)
        if ref_date.tzinfo is None:
            ref_date = ref_date.tz_localize(tzinfo)
        else:
            ref_date = ref_date.tz_convert(tzinfo)

    month_start = ref_date.replace(day=1, hour=0, minute=0, second=0, microsecond=0)
    next_month_start = month_start + pd.offsets.MonthBegin(1)

    # =========================
    # 2) Normalizar fechas
    # =========================
    df_a["inserted_at"] = pd.to_datetime(df_a["inserted_at"], errors="coerce")

    if getattr(df_a["inserted_at"].dt, "tz", None) is None:
        df_a["inserted_at"] = df_a["inserted_at"].dt.tz_localize(
            tzinfo,
            nonexistent="shift_forward",
            ambiguous="NaT",
        )
    else:
        df_a["inserted_at"] = df_a["inserted_at"].dt.tz_convert(tzinfo)

    # =========================
    # 3) Separar eventos
    # =========================
    mask_mes = (df_a["inserted_at"] >= month_start) & (df_a["inserted_at"] < next_month_start)

    df_mes = df_a.loc[mask_mes].copy()
    df_prev = df_a.loc[df_a["inserted_at"] < month_start].copy()

    # =========================
    # 4) √öltima antes del mes
    # =========================
    df_prev = df_prev.sort_values(["debt_id", "inserted_at"])
    ultima_prev = df_prev.groupby("debt_id", as_index=False).tail(1)
    ultima_prev["tipo_fila"] = "ultima_antes_mes"

    # =========================
    # 5) Todas las del mes
    # =========================
    df_mes = df_mes.sort_values(["debt_id", "inserted_at"])
    df_mes["tipo_fila"] = "mes_actual"

    # =========================
    # 6) Unir eventos
    # =========================
    eventos = pd.concat([ultima_prev, df_mes], ignore_index=True)

    # Columnas de eventos que quieres traer s√≠ o s√≠
    cols_eventos = [
        "bank_reference",
        "debt_id",
        "inserted_at",
        "end",
        "payment_to_bank",
        "CATEGORIA_PRED",
        "observations",
        "tipo_fila",
    ]
    for c in cols_eventos:
        if c not in eventos.columns:
            eventos[c] = pd.NA
    eventos = eventos[cols_eventos]

    # =========================
    # 7) Merge con cartera
    # =========================
    df_timeline = df_c.merge(
        eventos,
        left_on=["Referencia", "Id deuda"],
        right_on=["bank_reference", "debt_id"],
        how="left",
    ).drop(columns=["bank_reference", "debt_id"])

    # =========================
    # 8) Garantizar columnas requeridas en el output
    # =========================
    cols_cartera_requeridas = [
        "Referencia",
        "Id deuda",
        "Cedula",
        "Nombre del cliente",
        "Negociador",
        "BANCOS_ESTANDAR",
        "Descuento",
        "D_BRAVO",
        "MORA",
        "Estructurable",
        "Potencial",
        "Meses en el Programa",
        "Tipo de Liquidacion",
        "Bucket",
        "Ahorro total",
        "Ahorro medio",
        "Por cobrar",
        "Potencial Credito",
        "Estado Deuda",
        "sub_estado_deuda",
        "estado_reparadora",
        "sub_estado_reparadora",
        "Mora_estructurado",
        "MORA_CREDITO",
        "Priority_level",
        "ultimo contacto",
        "fecha mensaje"
    ]

    # Si alguna no existe, cr√©ala en NA para evitar KeyError
    for c in cols_cartera_requeridas:
        if c not in df_timeline.columns:
            df_timeline[c] = pd.NA

    # Orden sugerido: primero tus columnas de cartera, luego las de eventos (y luego cualquier extra que exista)
    cols_eventos_out = ["inserted_at", "end", "payment_to_bank", "CATEGORIA_PRED", "observations", "tipo_fila"]
    extras = [c for c in df_timeline.columns if c not in (cols_cartera_requeridas + cols_eventos_out)]

    df_timeline = df_timeline[cols_cartera_requeridas + cols_eventos_out + extras]

    # =========================
    # 9) Orden final
    # =========================
    df_timeline = df_timeline.sort_values(
        ["Id deuda", "inserted_at"],
        na_position="first"
    ).reset_index(drop=True)

    return df_timeline


# ===== EJECUCI√ìN =====
df_timeline = construir_timeline_mes(df_cartera, df_act)
df_timeline.head(20)

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,MORA,Estructurable,...,MORA_CREDITO,Priority_level,ultimo contacto,fecha mensaje,inserted_at,end,payment_to_bank,CATEGORIA_PRED,observations,tipo_fila
0,3012650,111266,52216213,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,120,1,...,No,Prioridad 2,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1,3122962933,225561,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,55,1,...,No,Prioridad 1,1,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN
2,3122962933,225562,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,55,1,...,No,Prioridad 1,1,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN
3,3122962933,225563,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,55,0,...,No,Prioridad 1,1,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN
4,3196892494,404243,52902886,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,79,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
5,3183092531,427629,72217923,Faiber Alfonso Lemus Silva,Laura Yineth Torres Moncada,Tuya,0.7126,7481250.0,98,0,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
6,3003853673,434218,12635912,Alfar de jesus Roca,Cindy Viviana Barrera Buitrago,Scotiabank Colpatria,0.5800,1279300.0,39,1,...,S√≠,Prioridad 1,6,NaT,2026-01-09 00:53:45-05:00,massive@resuelvetudeuda.com,5622593.0,ACTUALIZADO_ALIANZAS,Actualizado desde alianzas,mes_actual
7,3003853673,434218,12635912,Alfar de jesus Roca,Cindy Viviana Barrera Buitrago,Scotiabank Colpatria,0.5800,1279300.0,39,1,...,S√≠,Prioridad 1,6,NaT,2026-01-13 17:49:46-05:00,cindy.barrera@gobravo.com.co,1279300.0,CONTRAPROPUESTA,"12:54//VivianaB//Se deja en base de contactos,...",mes_actual
8,3003853673,434219,12635912,Alfar de jesus Roca,Cindy Viviana Barrera Buitrago,Scotiabank Colpatria,0.5800,1408000.0,39,1,...,S√≠,Prioridad 1,6,NaT,2026-01-09 00:53:45-05:00,massive@resuelvetudeuda.com,5622593.0,ACTUALIZADO_ALIANZAS,Actualizado desde alianzas,mes_actual
9,3003853673,434219,12635912,Alfar de jesus Roca,Cindy Viviana Barrera Buitrago,Scotiabank Colpatria,0.5800,1408000.0,39,1,...,S√≠,Prioridad 1,6,NaT,2026-01-13 17:50:15-05:00,cindy.barrera@gobravo.com.co,1408000.0,CONTRAPROPUESTA,"12:54//VivianaB//Se deja en base de contactos,...",mes_actual
10,3003853673,434220,12635912,Alfar de jesus Roca,Cindy Viviana Barrera Buitrago,Serfinanza,0.6584,2440000.0,74,1,...,S√≠,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
11,3142828344,445585,1022368182,Ruben Dario Angel Hincapie,Vivian Caterin Rodriguez Verano,Banco Popular,0.5400,3886592.0,57,1,...,S√≠,Prioridad 1,6,2025-02-14 11:01:36,NaT,NaN,NaN,NaN,NaN,NaN
12,3134019891,448998,79522723,Carlos Eduardo Ordonez Arias,Vivian Caterin Rodriguez Verano,Ita√∫,0.7126,9864800.0,78,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
13,3134019891,448999,79522723,Carlos Eduardo Ordonez Arias,Vivian Caterin Rodriguez Verano,Ita√∫,0.7126,11809600.0,78,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
14,3134019891,449001,79522723,Carlos Eduardo Ordonez Arias,Vivian Caterin Rodriguez Verano,Ita√∫,0.7126,20967505.0,77,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
15,3054841798,459362,42794442,Clara mavel Velaaquez,Norbey Alejandro Duarte Ramirez,BBVA Colombia,0.7126,973749.0,74,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
16,3054841798,459366,42794442,Clara mavel Velaaquez,Norbey Alejandro Duarte Ramirez,BBVA Colombia,0.7126,7590523.0,73,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
17,3127089815,460358,31307293,Lady Massiel Azcuntar Duran,Dayana Isabel Ojito Ortiz,Bancolombia,0.6300,3900507.0,35,1,...,No,Prioridad 1,6,2025-07-31 11:41:31,NaT,NaN,NaN,NaN,NaN,NaN
18,3017216710,461229,39545691,Carmen Aurora Ramirez Arias,Cindy Viviana Barrera Buitrago,Banco Caja Social,0.7126,1386000.0,36,1,...,S√≠,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
19,3115569551,461743,52332680,ANA SIXTA MOJICA Vega,Cindy Viviana Barrera Buitrago,Codensa,0.2564,2497950.0,74,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_timeline

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,MORA,Estructurable,...,MORA_CREDITO,Priority_level,ultimo contacto,fecha mensaje,inserted_at,end,payment_to_bank,CATEGORIA_PRED,observations,tipo_fila
0,3012650,111266,52216213,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,120,1,...,No,Prioridad 2,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1,3122962933,225561,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,55,1,...,No,Prioridad 1,1,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN
2,3122962933,225562,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,55,1,...,No,Prioridad 1,1,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN
3,3122962933,225563,50868603,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,55,0,...,No,Prioridad 1,1,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN
4,3196892494,404243,52902886,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,79,1,...,No,Prioridad 1,6,NaT,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43859,3225833196,2091518,1019066241,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Banco Davivienda,0.3637,13695024.0,7,1,...,No,Prioridad 2,0,2026-01-09 09:44:37,NaT,NaN,NaN,NaN,NaN,NaN
43860,3225833196,2091519,1019066241,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Scotiabank Colpatria,0.5000,50463309.0,7,0,...,No,Prioridad 2,0,2026-01-09 09:44:37,NaT,NaN,NaN,NaN,NaN,NaN
43861,3225833196,2091520,1019066241,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,7,0,...,No,Prioridad 2,0,2026-01-09 09:44:37,NaT,NaN,NaN,NaN,NaN,NaN
43862,3105507630,2091523,79381039,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,7,0,...,No,Prioridad 2,0,2026-01-20 12:05:46,NaT,NaN,NaN,NaN,NaN,NaN
43863,9195828,2091868,9195828,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,7,0,...,No,Prioridad 2,0,2026-01-19 12:35:50,NaT,NaN,NaN,NaN,NaN,NaN

In [ ]:
# -*- coding: utf-8 -*-
import os
import json
import pandas as pd
import gspread
from google.oauth2.service_account import Credentials

# =========================
# CONFIG
# =========================
SPREADSHEET_ID = "1H3sYEtkeu47POnu8xZMaMtID1Vj53YIcWblWeZ8d0rc"
GID = "1033250632"

# =========================
# 1) Leer MI_JSON seg√∫n entorno (Colab vs GitHub/local)
# =========================
def get_mi_json():
    # --- Colab ---
    try:
        from google.colab import userdata  # solo existe en Colab
        mi_json = userdata.get("MI_JSON")
        if not mi_json:
            raise RuntimeError("MI_JSON no encontrado en Colab userdata.")
        print("Entorno detectado: Google Colab")
        return mi_json
    except Exception:
        # --- GitHub Actions / local ---
        mi_json = os.environ.get("MI_JSON")
        if not mi_json:
            raise RuntimeError("MI_JSON no encontrado como variable de entorno (GitHub/local).")
        if os.environ.get("GITHUB_ACTIONS") == "true":
            print("Entorno detectado: GitHub Actions")
        else:
            print("Entorno detectado: Local")
        return mi_json

mi_json = get_mi_json()
info = json.loads(mi_json)

SCOPES = [
    "https://www.googleapis.com/auth/spreadsheets.readonly",
    "https://www.googleapis.com/auth/drive.readonly",
]
creds = Credentials.from_service_account_info(info, scopes=SCOPES)
gc = gspread.authorize(creds)

sh = gc.open_by_key(SPREADSHEET_ID)

# =========================
# 2) Resolver el nombre de la hoja a partir del gid
# =========================
meta = sh.fetch_sheet_metadata()
sheet_title = None
for s in meta.get("sheets", []):
    props = s.get("properties", {})
    if str(props.get("sheetId")) == str(GID):
        sheet_title = props.get("title")
        break

if not sheet_title:
    raise ValueError(f"No encontr√© ninguna hoja con gid={GID}. Revisa el link.")

ws = sh.worksheet(sheet_title)

# =========================
# 3) Leer a DataFrame
# =========================
values = ws.get_all_values()

if not values or len(values) < 2:
    df_liq = pd.DataFrame()
else:
    headers = values[0]
    rows = values[1:]
    df_liq = pd.DataFrame(rows, columns=headers)

print("‚úÖ Hoja le√≠da:", sheet_title)
print("Shape:", df_liq.shape)
print(df_liq.head(20))

Entorno detectado: Google Colab
‚úÖ Hoja le√≠da: BD del mes
Shape: (2657, 27)
   Pago a banco Deuda Resuelve  Fecha de Liquidaci√≥n Comisi√≥n  \
0        500000         5000100            6/01/2026  1222515
1       1000000         7225050            6/01/2026
2         78000           40000            5/01/2026   815466
3        128000          196441            5/01/2026
4        208000          200000            5/01/2026
5         60000          600000            5/01/2026
6         70000          720000            5/01/2026
7         87000          900000            5/01/2026
8        335000         3700000            5/01/2026
9       3000000        17234700            5/01/2026  2135205
10      2154000         9620100            6/01/2026  1493220
11       180100          674100            6/01/2026    98800
12       200000         1600200            6/01/2026   280040
13      5249800        26663700            6/01/2026  4282780
14     11370100        33441450            6/01/2026  4414270
15       724136          797500            6/01/2026    11005
16       314000         3905000            6/01/2026   538650
17      1300000         3238400            6/01/2026   290760
18      1300000         9939300            7/01/2026  1295895
19      1700000        24394650            7/01/2026  2439465

                         Negociador Portafolio Deuda Berex  Referencia  \
0   William Santiago Abril Esguerra         SI     1826700  3156617917
1   William Santiago Abril Esguerra         SI     1826701  3156617917
2   Vivian Caterin Rodriguez Verano         SI     1892087  3104999127
3   Vivian Caterin Rodriguez Verano         SI     1892088  3104999127
4   Vivian Caterin Rodriguez Verano         SI     1892089  3104999127
5   Vivian Caterin Rodriguez Verano         SI     1892090  3104999127
6   Vivian Caterin Rodriguez Verano         SI     1892091  3104999127
7   Vivian Caterin Rodriguez Verano         SI     1892093  3104999127
8   Vivian Caterin Rodriguez Verano         SI     1892101  3104999127
9         Alba Yohana Moreno Martin         NO     1873770  3505976140
10        Alba Yohana Moreno Martin         NO     1873104  3108680103
11  Vivian Caterin Rodriguez Verano         NO     1559474  3154565111
12  Vivian Caterin Rodriguez Verano         NO     1559475  3154565111
13  Vivian Caterin Rodriguez Verano         NO     1559478  3154565111
14  Vivian Caterin Rodriguez Verano         NO     1559479  3154565111
15  Vivian Caterin Rodriguez Verano         NO     1775724  3113861033
16  Norbey Alejandro Duarte Ramirez         NO     1839948  3002755064
17        Dayana Isabel Ojito Ortiz         NO     1888731  3004283598
18        Dayana Isabel Ojito Ortiz         NO     1556341  3107514515
19  William Santiago Abril Esguerra         NO     1813685  3125866401

                      Nombre cliente          Banco  ...  Tipo EST  \
0      Diego Fernando Gaitan Quintero    Davivienda  ...  comisi√≥n
1      Diego Fernando Gaitan Quintero    Davivienda  ...
2     Edison Fernando Hincapie Arcila   Bancolombia  ...  comisi√≥n
3     Edison Fernando Hincapie Arcila   Bancolombia  ...
4     Edison Fernando Hincapie Arcila   Bancolombia  ...
5     Edison Fernando Hincapie Arcila   Bancolombia  ...
6     Edison Fernando Hincapie Arcila   Bancolombia  ...
7     Edison Fernando Hincapie Arcila   Bancolombia  ...
8     Edison Fernando Hincapie Arcila   Bancolombia  ...
9           Mary Luz Herrera Colorado         √âxito  ...  comisi√≥n
10  Maria Del Pilar Pacheco Hernandez          Tuya  ...  comisi√≥n
11      Jorge Enrique Pulido Montilla          BBVA  ...
12      Jorge Enrique Pulido Montilla          BBVA  ...
13      Jorge Enrique Pulido Montilla          BBVA  ...
14      Jorge Enrique Pulido Montilla          BBVA  ...
15           Deisy Paola Castro Silva  Sistecredito  ...
16          Carlos Eduardo Porto Maza   Bancolombia  ...
17   Charlie Catherine Vallejo Chaves       Alkosto  ...
18       Yessica Paola Correa Salcedo          BBVA  ...  comisi√≥n
19       Gloria Cecilia Molinas Velez    Davivienda  ...

   Dia operativo Check Casa de cobro                             Lider         \
0              2                   0        Juan Jose Hernandez Galvis   TRUE
1              2                   0        Juan Jose Hernandez Galvis  FALSE
2              1                   0  Jordann Dario Barbosa Villanueva   TRUE
3              1                   0  Jordann Dario Barbosa Villanueva  FALSE
4              1                   0  Jordann Dario Barbosa Villanueva  FALSE
5              1                   0  Jordann Dario Barbosa Villanueva  FALSE
6              1                   0  Jordann Dario Barbosa Villanueva  FALSE
7              1                   0  Jordann Dario Barbosa Villanueva  FALSE
8              1                   0  Jordann Dario Barbosa Villanueva  FALSE
9              1                   0  Jordann Dario Barbosa Villanueva   TRUE
10             2                   0  Jordann Dario Barbosa Villanueva   TRUE
11             2                   0  Jordann Dario Barbosa Villanueva   TRUE
12             2                   0  Jordann Dario Barbosa Villanueva   TRUE
13             2                   0  Jordann Dario Barbosa Villanueva   TRUE
14             2                   0  Jordann Dario Barbosa Villanueva   TRUE
15             2                   0  Jordann Dario Barbosa Villanueva   TRUE
16             2                   0  Jordann Dario Barbosa Villanueva   TRUE
17             2                   0  Jordann Dario Barbosa Villanueva   TRUE
18             3                   0  Jordann Dario Barbosa Villanueva   TRUE
19             3                   0        Juan Jose Hernandez Galvis   TRUE


0      27,17%    1681103  comisi√≥n
1       0,00%    1726199  comisi√≥n
2   -2145,96%    1773378  comisi√≥n
3       0,00%    1203220  comisi√≥n
4       0,00%
5       0,00%
6       0,00%
7       0,00%
8       0,00%
9      15,00%
10     20,00%
11     20,00%
12     20,00%
13     20,00%
14     20,00%
15     15,00%
16     15,00%
17     15,00%
18     15,00%
19     10,75%

[20 rows x 27 columns]

In [ ]:
df_liq

,Pago a banco,Deuda Resuelve,Fecha de Liquidaci√≥n,Comisi√≥n,Negociador,Portafolio,Deuda Berex,Referencia,Nombre cliente,Banco,...,Tipo EST,Dia operativo,Check,Casa de cobro,Lider,,,,,
0,500000,5000100,6/01/2026,1222515,William Santiago Abril Esguerra,SI,1826700,3156617917,Diego Fernando Gaitan Quintero,Davivienda,...,comisi√≥n,2,,0,Juan Jose Hernandez Galvis,TRUE,"27,17%",,1681103,comisi√≥n
1,1000000,7225050,6/01/2026,,William Santiago Abril Esguerra,SI,1826701,3156617917,Diego Fernando Gaitan Quintero,Davivienda,...,,2,,0,Juan Jose Hernandez Galvis,FALSE,"0,00%",,1726199,comisi√≥n
2,78000,40000,5/01/2026,815466,Vivian Caterin Rodriguez Verano,SI,1892087,3104999127,Edison Fernando Hincapie Arcila,Bancolombia,...,comisi√≥n,1,,0,Jordann Dario Barbosa Villanueva,TRUE,"-2145,96%",,1773378,comisi√≥n
3,128000,196441,5/01/2026,,Vivian Caterin Rodriguez Verano,SI,1892088,3104999127,Edison Fernando Hincapie Arcila,Bancolombia,...,,1,,0,Jordann Dario Barbosa Villanueva,FALSE,"0,00%",,1203220,comisi√≥n
4,208000,200000,5/01/2026,,Vivian Caterin Rodriguez Verano,SI,1892089,3104999127,Edison Fernando Hincapie Arcila,Bancolombia,...,,1,,0,Jordann Dario Barbosa Villanueva,FALSE,"0,00%",,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2652,,,,,,,,,,,...,,,,0,,,,,,
2653,,,,,,,,,,,...,,,,0,,,,,,
2654,,,,,,,,,,,...,,,,0,,,,,,
2655,,,,,,,,,,,...,,,,0,,,,,,
2656,,,,,,,,,,,...,,,,0,,,,,,

In [ ]:
pip install fuzzywuzzy[speedup]

Collecting fuzzywuzzy[speedup]
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Collecting python-levenshtein>=0.12 (from fuzzywuzzy[speedup])
  Downloading python_levenshtein-0.27.3-py3-none-any.whl.metadata (3.9 kB)
Collecting Levenshtein==0.27.3 (from python-levenshtein>=0.12->fuzzywuzzy[speedup])
  Downloading levenshtein-0.27.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.7 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0 (from Levenshtein==0.27.3->python-levenshtein>=0.12->fuzzywuzzy[speedup])
  Downloading rapidfuzz-3.14.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (12 kB)
Downloading python_levenshtein-0.27.3-py3-none-any.whl (9.5 kB)
Downloading levenshtein-0.27.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (153 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 153.3/153.3 kB 3.2 MB/s eta 0:00:00
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Downloading rapidfuzz-3.14.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (3.2 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3.2/3.2 MB 42.2 MB/s eta 0:00:00
Installing collected packages: fuzzywuzzy, rapidfuzz, Levenshtein, python-levenshtein
Successfully installed Levenshtein-0.27.3 fuzzywuzzy-0.18.0 python-levenshtein-0.27.3 rapidfuzz-3.14.3

In [ ]:
from rapidfuzz import process, fuzz
import pandas as pd
import re

nombres_correctos = [
    'Bancolombia', 'Banco Falabella', 'Banco de Bogot√°', 'Banco Davivienda',
    'Scotiabank Colpatria', 'BBVA Colombia', 'SisteCredito', 'Banco AV Villas',
    'Banco de Occidente', 'Alkomprar', 'Tuya', 'Codensa', 'Ita√∫',
    'Serfinanza', 'Credivalores', 'Banco Popular', 'Rappipay',
    'Banco Finandina', 'Banco Caja Social', 'Covinoc', 'Bancoomeva',
    'Rapicredit', 'Credijamar', 'Flamingo', 'Zinobe', 'Bancamia',
    'Refinancia', 'Compensar', 'Pichincha', 'Colsubsidio', 'Mundo Mujer',
    'Agaval', 'Sistemcobro', 'Serlefin', 'Rappicard', 'Fincomercio',
    'GRUPO JURIDICO DEUDU', 'AECSA', 'Sufi', 'Comultrasan', 'Fundaci√≥n',
    'Cobrando', 'Aslegal', 'Coltefinanciera', 'Reestructura', 'Nu',
    'Juancho te Presta', 'Muebles', 'JOHN', 'GNB Sudameris', 'Confiar',
    'Baninca', 'Systemgroup', 'Efecty'
]

# Bancos que se usan con el prefijo "banco" completo como referencia
bancos_excepciones = ['Banco de Bogot√°', 'Bancolombia', 'Bancoomeva']

# ==============================
# 2. Sin√≥nimos / patrones por banco (texto original, sin limpiar)
# ==============================
PATRONES_POR_BANCO = {
    'Bancolombia': [
        'bancolombia', 'contento bancolombia', 'qnt bancolombia', 'sufi'
    ],
    'Banco Davivienda': [
        'davivienda', 'intercredito davivienda', 'gestiones profesionales davivienda',
        'inversionistas estrat√©gicos davivienda', 'inversionistas estrategicos davivienda',
        'management davivienda', 'davivienda cobrado sas', 'davivienda cobrando sas',
        'deudu davivienda', 'qnt davivienda'
    ],
    'BBVA Colombia': [
        'bbva', 'cobrando bbva', 'beta bbva', 'cobranzas beta origen: bbva',
        'aecsa bbva', 'grupo juridico bbva', 'grupo jur√≠dico bbva', 'qnt bbva'
    ],
    'Banco Falabella': [
        'falabella', 'bfalabella', 'bancofalab', 'bancofalab citisumma',
        'banco falabella casa de cobro', 'eyc falabella',
        'cobrando falabella', 'acr logros f ori falabella',
        'deudu falabella', 'deudo falabella', 'citisumma falabella',
        'logros factoring falabella'
    ],
    'Tuya': [
        ' tuya', 'viva-tuya', 'viva tuya', 'qnt tuya', 'aecsa tuya',
        'tuya contacto soluciones', 'tuya s.a contactosol', 'tuya s a contactosol',
        'tuya contacto soluciones', 'qnt tuya',
        '√©xito', 'exito', 'carulla', 'Alkosto', 'Corbeta'
    ],
    'Scotiabank Colpatria': [
        'scotiabank', 'skotiabank', 'colpatria', 'peruzzi skotiabank colpatria',
        'serlefin colpatria', 'adamantine scotiabank', 'gc andino colpatria',
        'scotiabank citibank', 'qnt colpatria', 'crc colpatria',
        'grupo consulto colpatria', 'grupo consultor andino colpatria',
        'gr.consulto colpatria', 'Codensa'
    ],
    'Banco de Bogot√°': [
        'banco de bogota', 'banco de bogot√°', 'qnt bogota', 'qnt bogot√°',
        'crear pa√≠s banco de bogot√°', 'crear pais banco de bogota'
    ],
    'Banco de Occidente': [
        'banco de occidente', 'qnt banco de occidente', 'deudu-banco de occidente',
        'deudu banco de occidente'
    ],
    'Banco Popular': [
        'banco popular', 'banco popular casa de cobro', 'banco popular contactosol',
        'banco popular contactosolsas', 'banco popular citisumma',
        'banco popular-adcore', 'deudu banco popular', 'peruzzicol bcopopular'
    ],
    'Banco AV Villas': [
        'av villas', 'banco av villas', 'grupo consultor andino av villas',
        'grupo juridico av villas', 'grupo jur√≠dico av villas',
        'ae csa av villas', 'aecsa av villas', 'crear pa√≠s banco av villas',
        'crear pais banco av villas', 'deudu av villas', 'qnt av villas'
    ],
    'Banco Caja Social': [
        'banco caja social', 'caja social', 'pic caja social'
    ],
    'Bancoomeva': [
        'banco coomeva', 'bancoomeva', 'coomeva'
    ],
    'Bancamia': [
        'bancamia', 'bancamia s.a', 'bancamia s a'
    ],
    'Mundo Mujer': [
        'banco mundo mujer', 'fundacion de la mujer', 'fundaci√≥n de la mujer'
    ],
    'SisteCredito': [
        'sistecredito', 'sistecr√©dito'
    ],
    'Covinoc': ['covinoc'],
    'Compensar': ['compensar'],
    'Pichincha': ['pichincha', 'pichincha educativo'],
    'Agaval': ['agaval'],
    'Banco Finandina': [
        'finandina', 'finandina incomercio', 'finandina incomercio'
    ],
    'Fincomercio': ['fincomercio'],
    'Serfinanza': [
        'serfinanza', 'serfinansa', 'serfinanza contactosol',
        'contacto solucion serfinanza', 'contacto soluci√≥n serfinanza'
    ],
    'Credijamar': [
        'credijamar', 'muebles jamar'
    ],
    'Juancho te Presta': ['juancho te presta'],
    'Rapicredit': ['rapicredit'],
    'Zinobe': ['zinobe'],
    'Coltefinanciera': ['coltefinanciera'],
    'Sistemcobro': ['sistemcobro'],
    'Systemgroup': ['systemgroup'],
    'Baninca': ['baninca'],
    'GNB Sudameris': ['gnb sudameris'],
    'Confiar': ['confiar'],
    'AECSA': ['aecsa'],
    'Comultrasan': ['comultrasan'],
    'Nu': ['nu bank', 'nubank', 'logros factoring nubank'],
    'Rappi':['Rappicard', 'Rappipay'],
    'Lulo Bank': ['LuloBank', 'Lulo Banck'],
    'Banco union': ['QNT GIROS&FINANZAS']

}

# ==============================
# 3. Alias manuales sobre texto LIMPIO
# ==============================
alias_manuales = {
    'bfalabella': 'Banco Falabella',
    'contactosol': 'Banco Falabella',
    'qnt itau': 'Ita√∫',
    'itau helm': 'Ita√∫',
    'itau corpbanca': 'Ita√∫',
    'viva tuya': 'Tuya',
    'carulla': 'Tuya',
    'sufi': 'Bancolombia',
    'adamantine scotiabank': 'Scotiabank Colpatria',
    'gc andino colpatria': 'Scotiabank Colpatria',
    'beta bbva': 'BBVA Colombia',
    'banco popular': 'Banco Popular',
    'qnt bogota': 'Banco de Bogot√°',
    'banco caja social': 'Banco Caja Social',
    'banco av villas': 'Banco AV Villas',
    'banco davivienda': 'Banco Davivienda',
    'bancofalab citisumma': 'Banco Falabella',
    'exito': 'Tuya',
    '√©xito': 'Tuya',
    'Alkosto': 'Tuya',
    'Corbeta': 'Tuya',
    'Rappipay': 'Rappi',
    'Rappicard': 'Rappi',
    'Lulo Banck': 'Lulo Bank',
    'LuloBank': 'Lulo Bank',
    'QNT GIROS&FINANZAS': 'Banco Union',
    'Codensa': 'Scotiabank Colpatria'


}

# ==============================
# 4. Funci√≥n de limpieza
# ==============================
def limpiar_texto(texto):
    """
    Limpia y normaliza el texto: min√∫sculas, elimina caracteres no alfab√©ticos
    (excepto acentos y √±/√º), elimina palabras irrelevantes y quita espacios dobles.
    """
    texto = str(texto).lower()

    # Dejar solo letras, acentos, √±, √º y espacios
    texto = re.sub(r'[^a-z√°√©√≠√≥√∫√±√º\s]', ' ', texto)

    # Eliminar palabras "de relleno" frecuentes en reparadoras / BPO
    texto = re.sub(
        r'\b('
        r'grupo|juridico|jur√≠dico|sas|sa|s a|ltda|suma|financiera|'
        r'contactosol|contacto|solucion|soluciones|citisumma|'
        r'cobrando|cobranzas|adcore|logros|factoring|origen|origem|'
        r'gestiones|gestion|profesionales|bpo|inversionistas|'
        r'estrategicos|estrat√©gicos|casa|de|cobro|servicios|'
        r'creditos|credito|abogados|asociados|'
        r'outsourcing|risk|patrimonio|autonomo|aut√≥nomo|central|'
        r'inversiones|valora|punto|com|puntocom|activos|'
        r'recuperacion|recuperaci√≥n|financiera|financiero|'
        r'asesores|asociados|gest|prof|eyc|gca|summa'
        r')\b',
        '',
        texto
    )

    # Espacios m√∫ltiples -> uno solo
    texto = re.sub(r'\s+', ' ', texto).strip()
    return texto

# ==============================
# 5. Claves de referencia para fuzzy
# ==============================
claves_referencia = {
    (n.lower() if n in bancos_excepciones else re.sub(r'^banco\s*', '', n.lower())): n
    for n in nombres_correctos
}

# ==============================
# 6. Mapeo por patr√≥n (texto original)
# ==============================
def mapear_por_patron(nombre_incorrecto):
    """
    Intenta identificar el banco a partir del texto ORIGINAL (sin limpiar),
    buscando los patrones definidos en PATRONES_POR_BANCO.
    """
    if pd.isna(nombre_incorrecto):
        return None

    texto = str(nombre_incorrecto).lower()

    for banco_estandar, patrones in PATRONES_POR_BANCO.items():
        for patron in patrones:
            if patron in texto:
                return banco_estandar

    return None

# ==============================
# 7. Funci√≥n principal de correcci√≥n
# ==============================
def corregir_nombre(nombre_incorrecto):
    """
    Corrige un nombre de banco usando 3 capas:
    1. Mapeo por patr√≥n sobre el texto original.
    2. Limpieza de texto + alias manuales.
    3. Fuzzy matching contra claves_referencia.
    """
    # Si es NaN/None, lo dejamos igual
    if pd.isna(nombre_incorrecto):
        return nombre_incorrecto

    # 1. Intentar primero con patrones evidentes en el texto original
    banco_patron = mapear_por_patron(nombre_incorrecto)
    if banco_patron is not None:
        return banco_patron

    # 2. Limpiar texto
    limpio = limpiar_texto(nombre_incorrecto)

    # Si despu√©s de limpiar no queda nada, devolvemos el original
    if limpio == '':
        return nombre_incorrecto

    # 3. Alias manuales sobre texto limpio
    for alias, banco_estandar in alias_manuales.items():
        if alias in limpio:
            return banco_estandar

    # 4. Fuzzy matching con RapidFuzz
    mejor_match, score, _ = process.extractOne(
        limpio,
        claves_referencia.keys(),
        scorer=fuzz.token_set_ratio
    )

    # Si la similitud es alta, usamos el banco est√°ndar; si no, dejamos el texto original
    return claves_referencia[mejor_match] if score > 70 else nombre_incorrecto

# ==============================
# 8. Aplicar al DataFrame
# ==============================

# Crear nueva columna estandarizada en reparadoras_df
df_liq['BANCOS_ESTANDAR'] = df_liq['Banco'].apply(corregir_nombre)

In [ ]:
import pandas as pd
import numpy as np

# ‚úÖ ZoneInfo compatible con Colab y GitHub (Py < 3.9)
try:
    from zoneinfo import ZoneInfo
except ImportError:  # pragma: no cover
    from backports.zoneinfo import ZoneInfo  # type: ignore


def _to_float_money(x):
    if pd.isna(x):
        return np.nan
    s = str(x).strip()
    if s == "":
        return np.nan

    s = s.replace("$", "").replace("COP", "").replace("cop", "").replace(" ", "")

    if "," in s and "." in s:
        if s.rfind(",") > s.rfind("."):
            s = s.replace(".", "")
            s = s.replace(",", ".")
        else:
            s = s.replace(",", "")
    else:
        if "," in s:
            if s.count(",") > 1:
                s = s.replace(",", "")
            else:
                tail = s.split(",")[-1]
                s = s.replace(",", ".") if len(tail) in (1, 2) else s.replace(",", "")
        if "." in s:
            if s.count(".") > 1:
                s = s.replace(".", "")
            else:
                tail = s.split(".")[-1]
                if len(tail) not in (1, 2):
                    s = s.replace(".", "")

    try:
        return float(s)
    except Exception:
        return np.nan


def _to_bogota_datetime_ddmmyyyy(series, tz="America/Bogota"):
    tzinfo = ZoneInfo(tz)
    dt = pd.to_datetime(series, errors="coerce", dayfirst=True)
    if getattr(dt.dt, "tz", None) is None:
        dt = dt.dt.tz_localize(tzinfo, nonexistent="shift_forward", ambiguous="NaT")
    else:
        dt = dt.dt.tz_convert(tzinfo)
    return dt


def _modo(s: pd.Series):
    s = s.dropna().astype(str)
    if s.empty:
        return np.nan
    return s.value_counts().index[0]


def agregar_liquidaciones_al_timeline_con_fallback(
    df_timeline: pd.DataFrame,
    df_liq: pd.DataFrame,
) -> pd.DataFrame:
    df_tl = df_timeline.copy()
    df_l = df_liq.copy()

    # asegurar columnas nuevas
    for c in ["Negociador liquidacion", "Por?"]:
        if c not in df_tl.columns:
            df_tl[c] = np.nan

    # normalizar llaves
    df_l["Id deuda"] = pd.to_numeric(df_l["Deuda Berex"], errors="coerce").astype("Int64")
    df_l["Referencia"] = pd.to_numeric(df_l["Referencia"], errors="coerce").astype("Int64")

    # fecha dd/mm/yyyy -> datetime Bogot√°
    df_l["inserted_at"] = _to_bogota_datetime_ddmmyyyy(df_l["Fecha de Liquidaci√≥n"])

    # pago a banco float
    df_l["payment_to_bank"] = df_l["Pago a banco"].apply(_to_float_money).astype(float)

    # mapas desde timeline para fallback  ‚úÖ (aqu√≠ solo a√±adimos tus 4 columnas)
    base_by_debt = (
        df_tl[
            [
                "Id deuda",
                "Referencia",
                "BANCOS_ESTANDAR",
                "Descuento",
                "D_BRAVO",
                "Tipo de Liquidacion",
                "Ahorro total",
                "Ahorro medio",
                "Potencial",
                "Potencial Credito",
            ]
        ]
        .dropna(subset=["Id deuda"])
        .drop_duplicates(subset=["Id deuda"])
        .set_index("Id deuda")
    )

    map_ref_by_debt = base_by_debt["Referencia"].to_dict()
    map_banco_by_debt = base_by_debt["BANCOS_ESTANDAR"].to_dict()
    map_desc_by_debt = base_by_debt["Descuento"].to_dict()
    map_deuda_by_debt = base_by_debt["D_BRAVO"].to_dict()
    map_tipol_by_debt = base_by_debt["Tipo de Liquidacion"].to_dict()

    # ‚úÖ nuevos mapas
    map_ahorro_total_by_debt = base_by_debt["Ahorro total"].to_dict()
    map_ahorro_medio_by_debt = base_by_debt["Ahorro medio"].to_dict()
    map_potencial_by_debt = base_by_debt["Potencial"].to_dict()
    map_pot_credito_by_debt = base_by_debt["Potencial Credito"].to_dict()

    # mapa negociador por referencia
    map_neg_ref = (
        df_tl[["Referencia", "Negociador"]]
        .dropna(subset=["Referencia", "Negociador"])
        .groupby("Referencia")["Negociador"]
        .apply(_modo)
        .to_dict()
    )

    banco_liq = df_l["BANCO_ESTANDAR"] if "BANCO_ESTANDAR" in df_l.columns else pd.Series(np.nan, index=df_l.index)
    deuda_res_liq = df_l["D_BRAVO"] if "D_BRAVO" in df_l.columns else pd.Series(np.nan, index=df_l.index)

    if "descuento" in df_l.columns:
        desc_liq = pd.to_numeric(df_l["descuento"], errors="coerce")
    else:
        desc_liq = pd.Series(np.nan, index=df_l.index)

    tipo_liq_liq = df_l["Tipo de liquidacion"].astype(object)

    filas_liq = pd.DataFrame({
        "Referencia": df_l["Referencia"],
        "Id deuda": df_l["Id deuda"],
        "Negociador": np.nan,
        "BANCOS_ESTANDAR": banco_liq.astype(object),
        "Descuento": desc_liq.astype(float),
        "D_BRAVO": deuda_res_liq,
        "Tipo de Liquidacion": tipo_liq_liq,

        # ‚úÖ nuevas columnas en la fila Liquidado (arrancan nulas)
        "Ahorro total": np.nan,
        "Ahorro medio": np.nan,
        "Potencial": np.nan,
        "Potencial Credito": np.nan,

        "inserted_at": df_l["inserted_at"],
        "end": np.nan,
        "payment_to_bank": df_l["payment_to_bank"],
        "CATEGORIA_PRED": "Liquidado",
        "observations": np.nan,
        "tipo_fila": "Liquidaci√≥n",
        "Negociador liquidacion": df_l["Negociador"].astype(str),
        "Por?": df_l["Tipo de liquidacion"].astype(str),
    })

    filas_liq = (
        filas_liq.dropna(subset=["Id deuda"])
        .sort_values(["Id deuda", "inserted_at"])
        .groupby("Id deuda", as_index=False)
        .tail(1)
    )

    filas_liq["Referencia"] = filas_liq["Referencia"].fillna(filas_liq["Id deuda"].map(map_ref_by_debt))
    filas_liq["Negociador"] = filas_liq["Referencia"].map(map_neg_ref)

    filas_liq["BANCOS_ESTANDAR"] = filas_liq["BANCOS_ESTANDAR"].fillna(filas_liq["Id deuda"].map(map_banco_by_debt))
    filas_liq["Descuento"] = filas_liq["Descuento"].fillna(filas_liq["Id deuda"].map(map_desc_by_debt))

    filas_liq["D_BRAVO"] = pd.to_numeric(filas_liq["D_BRAVO"], errors="coerce")
    filas_liq["D_BRAVO"] = filas_liq["D_BRAVO"].fillna(filas_liq["Id deuda"].map(map_deuda_by_debt))

    filas_liq["Tipo de Liquidacion"] = filas_liq["Tipo de Liquidacion"].replace("", np.nan)
    filas_liq["Tipo de Liquidacion"] = filas_liq["Tipo de Liquidacion"].fillna(
        filas_liq["Id deuda"].map(map_tipol_by_debt)
    )

    # ‚úÖ fallback nuevo: igualito a lo dem√°s
    filas_liq["Ahorro total"] = filas_liq["Ahorro total"].fillna(filas_liq["Id deuda"].map(map_ahorro_total_by_debt))
    filas_liq["Ahorro medio"] = filas_liq["Ahorro medio"].fillna(filas_liq["Id deuda"].map(map_ahorro_medio_by_debt))
    filas_liq["Potencial"] = filas_liq["Potencial"].fillna(filas_liq["Id deuda"].map(map_potencial_by_debt))
    filas_liq["Potencial Credito"] = filas_liq["Potencial Credito"].fillna(
        filas_liq["Id deuda"].map(map_pot_credito_by_debt)
    )

    filas_liq["Referencia"] = filas_liq["Referencia"].astype("Int64")
    filas_liq["Id deuda"] = filas_liq["Id deuda"].astype("Int64")
    filas_liq["Descuento"] = pd.to_numeric(filas_liq["Descuento"], errors="coerce").astype(float)
    filas_liq["D_BRAVO"] = pd.to_numeric(filas_liq["D_BRAVO"], errors="coerce").astype(float)
    filas_liq["payment_to_bank"] = pd.to_numeric(filas_liq["payment_to_bank"], errors="coerce").astype(float)
    filas_liq["inserted_at"] = _to_bogota_datetime_ddmmyyyy(filas_liq["inserted_at"])

    for c in df_tl.columns:
        if c not in filas_liq.columns:
            filas_liq[c] = np.nan
    for c in filas_liq.columns:
        if c not in df_tl.columns:
            df_tl[c] = np.nan

    filas_liq = filas_liq[df_tl.columns]

    out = (
        pd.concat([df_tl, filas_liq], ignore_index=True)
        .sort_values(["Id deuda", "inserted_at"], na_position="first")
        .reset_index(drop=True)
    )

    return out


# ===== USO =====
df_timeline_final = agregar_liquidaciones_al_timeline_con_fallback(df_timeline, df_liq)
df_timeline_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44200 entries, 0 to 44199
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Referencia              44200 non-null  Int64
 1   Id deuda                44200 non-null  Int64
 2   Cedula                  43864 non-null  float64
 3   Nombre del cliente      43864 non-null  object
 4   Negociador              44175 non-null  object
 5   BANCOS_ESTANDAR         44174 non-null  object
 6   Descuento               39200 non-null  float64
 7   D_BRAVO                 44174 non-null  float64
 8   MORA                    43864 non-null  float64
 9   Estructurable           43864 non-null  float64
 10  Potencial               39048 non-null  float64
 11  Meses en el Programa    43864 non-null  float64
 12  Tipo de Liquidacion     44200 non-null  object
 13  Bucket                  25071 non-null  float64
 14  Ahorro total            33270 non-null  float64
 15  Ahorro medio            33270 non-null  float64
 16  Por cobrar              32991 non-null  float64
 17  Potencial Credito       11989 non-null  object
 18  Estado Deuda            43354 non-null  object
 19  sub_estado_deuda        35221 non-null  object
 20  estado_reparadora       43354 non-null  object
 21  sub_estado_reparadora   43301 non-null  object
 22  Mora_estructurado       43864 non-null  object
 23  MORA_CREDITO            43864 non-null  object
 24  Priority_level          43864 non-null  object
 25  ultimo contacto         43864 non-null  float64
 26  fecha mensaje           40795 non-null  datetime64[ns]
 27  inserted_at             8192 non-null   datetime64[ns, America/Bogota]
 28  end                     7856 non-null   object
 29  payment_to_bank         8192 non-null   float64
 30  CATEGORIA_PRED          8192 non-null   object
 31  observations            7856 non-null   object
 32  tipo_fila               8192 non-null   object
 33  Negociador liquidacion  336 non-null    object
 34  Por?                    336 non-null    object
dtypes: Int64(2), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(13), object(18)
memory usage: 11.9+ MB

/tmp/ipython-input-375945502.py:209: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat([df_tl, filas_liq], ignore_index=True)

In [ ]:
import numpy as np

df_timeline = df_timeline_final.copy()

# -------------------------
# 1) Pago banco esperado
# -------------------------
df_timeline["Pago_banco_esperado"] = (
    df_timeline["D_BRAVO"]
    - (df_timeline["D_BRAVO"] * df_timeline["Descuento"])
)

# -------------------------
# 2) Ingreso esperado (CE = 0.15)
# -------------------------
CE = 0.15

df_timeline["Ingreso_esperado"] = np.maximum(
    0,
    (df_timeline["D_BRAVO"] - df_timeline["Pago_banco_esperado"]) * 1.19 * CE
)

# -------------------------
# 3) Mover columna al lado de D_BRAVO
# -------------------------
cols = df_timeline.columns.tolist()
idx = cols.index("D_BRAVO")

# quitamos y reinsertamos
cols.remove("Ingreso_esperado")
cols.insert(idx + 1, "Ingreso_esperado")

df_timeline = df_timeline[cols]

df_timeline[[
    "D_BRAVO",
    "Descuento",
    "Pago_banco_esperado",
    "Ingreso_esperado"
]].head()

     D_BRAVO  Descuento  Pago_banco_esperado  Ingreso_esperado
0  9256000.0     0.7126           2660174.40      1.177355e+06
1  2138165.0     0.5000           1069082.50      1.908312e+05
2  3299116.0     0.5600           1451611.04      3.297796e+05
3  5959400.0     0.6715           1957662.90      7.143101e+05
4  1921650.0     0.4800            999258.00      1.646470e+05

In [ ]:
df_timeline

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,Ingreso_esperado,MORA,...,fecha mensaje,inserted_at,end,payment_to_bank,CATEGORIA_PRED,observations,tipo_fila,Negociador liquidacion,Por?,Pago_banco_esperado
0,3012650,111266,5.221621e+07,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,1.177355e+06,120.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660174.40
1,3122962933,225561,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,1.908312e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1069082.50
2,3122962933,225562,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,3.297796e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1451611.04
3,3122962933,225563,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,7.143101e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957662.90
4,3196892494,404243,5.290289e+07,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,1.646470e+05,79.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999258.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44195,3225833196,2091520,1.019066e+09,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,6.881247e+06,7.0,...,2026-01-09 09:44:37,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43471733.67
44196,3105507630,2091523,7.938104e+07,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,1.098479e+07,7.0,...,2026-01-20 12:05:46,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69395555.83
44197,9195828,2091868,9.195828e+06,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,1.317885e+06,7.0,...,2026-01-19 12:35:50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12916890.00
44198,3133407340,2095122,NaN,NaN,Alba Yohana Moreno Martin,NaN,NaN,NaN,NaN,NaN,...,NaT,2026-01-15 00:00:00-05:00,NaN,210000.0,Liquidado,NaN,Liquidaci√≥n,Alba Yohana Moreno Martin,Credito,NaN
44199,3194625050,2098190,NaN,NaN,Norbey Alejandro Duarte Ramirez,NaN,NaN,NaN,NaN,NaN,...,NaT,2026-01-19 00:00:00-05:00,NaN,3100000.0,Liquidado,NaN,Liquidaci√≥n,Norbey Alejandro Duarte Ramirez,Credito,NaN

In [ ]:
import pandas as pd
import numpy as np
import re
import unicodedata

df_liq_aux = df_liq.copy()

def _norm_col(x: str) -> str:
    # normaliza: lower, quita tildes, colapsa espacios
    x = str(x).replace("\u00a0", " ")
    x = re.sub(r"\s+", " ", x).strip().lower()
    x = "".join(ch for ch in unicodedata.normalize("NFD", x) if unicodedata.category(ch) != "Mn")
    return x

# --- 1) Encontrar el nombre REAL de columnas (robusto)
cols_norm = {c: _norm_col(c) for c in df_liq_aux.columns}

# deuda (lo que t√∫ quieres para D_BRAVO) = "Deuda Resuelve"
col_deuda = next((c for c, cn in cols_norm.items() if cn in ("d_bravo", "deuda resuelve", "deuda_resuelve")), None)

# banco
col_banco = next((c for c, cn in cols_norm.items() if cn in ("bancos_estandar", "banco estandar", "banco_estandar")), None)

# id berex
col_berex = next((c for c, cn in cols_norm.items() if cn in ("deuda berex", "deuda_berex", "id deuda berex", "id_deuda_berex")), None)

print("Columna deuda detectada:", col_deuda)
print("Columna banco detectada:", col_banco)
print("Columna berex detectada:", col_berex)

if col_deuda is None:
    raise KeyError("No encontr√© la columna de deuda (esperaba 'Deuda Resuelve' o 'D_BRAVO').")
if col_banco is None:
    raise KeyError("No encontr√© la columna 'BANCOS_ESTANDAR' (ni variantes).")
if col_berex is None:
    raise KeyError("No encontr√© la columna 'Deuda Berex' (ni variantes).")

# --- 2) Construir Id deuda desde Deuda Berex
df_liq_aux["Id deuda"] = pd.to_numeric(df_liq_aux[col_berex], errors="coerce").astype("Int64")

# --- 3) Parse D_BRAVO a float (robusto)
s = df_liq_aux[col_deuda].astype(str).str.strip()

# limpiar s√≠mbolos y separar miles/decimales t√≠pico de COP
s = s.str.replace(r"[^\d,\.]", "", regex=True)

# caso t√≠pico: "45.488.000" -> quitar puntos miles
# y "45,488,000" -> quitar comas miles
# y si viene con decimal, lo intentamos preservar
# estrategia: si tiene ambos, asumimos decimal el √∫ltimo separador
def _parse_money_str(x):
    if x in ("", "nan", "None"):
        return np.nan
    if "," in x and "." in x:
        # el separador que aparezca m√°s a la derecha es decimal
        if x.rfind(",") > x.rfind("."):
            x = x.replace(".", "")
            x = x.replace(",", ".")
        else:
            x = x.replace(",", "")
    else:
        # si solo tiene comas: puede ser miles o decimal
        if "," in x:
            parts = x.split(",")
            # si √∫ltimo bloque tiene 1-2 d√≠gitos, decimal
            if len(parts[-1]) in (1,2):
                x = x.replace(".", "")
                x = x.replace(",", ".")
            else:
                x = x.replace(",", "")
        # si solo tiene puntos: miles o decimal
        if "." in x:
            parts = x.split(".")
            if len(parts[-1]) not in (1,2):  # no parece decimal
                x = x.replace(".", "")
    try:
        return float(x)
    except:
        return np.nan

df_liq_aux["Deuda_Resuelve_num"] = s.map(_parse_money_str)

# --- 4) Mapas por Id deuda
map_banco_liq = (
    df_liq_aux.dropna(subset=["Id deuda", col_banco])
             .drop_duplicates(subset=["Id deuda"])
             .set_index("Id deuda")[col_banco]
)

map_deuda_liq = (
    df_liq_aux.dropna(subset=["Id deuda", "Deuda_Resuelve_num"])
             .drop_duplicates(subset=["Id deuda"])
             .set_index("Id deuda")["Deuda_Resuelve_num"]
)

# --- 5) Rellenar SOLO filas Liquidaci√≥n y SOLO si est√° nulo
df = df_timeline.copy()
mask_liq = df["tipo_fila"].astype("string").eq("Liquidaci√≥n")

df.loc[mask_liq, "BANCOS_ESTANDAR"] = (
    df.loc[mask_liq, "BANCOS_ESTANDAR"]
      .fillna(df.loc[mask_liq, "Id deuda"].map(map_banco_liq))
)

df.loc[mask_liq, "D_BRAVO"] = (
    df.loc[mask_liq, "D_BRAVO"]
      .fillna(df.loc[mask_liq, "Id deuda"].map(map_deuda_liq))
)

df["D_BRAVO"] = pd.to_numeric(df["D_BRAVO"], errors="coerce").astype(float)

df_timeline_final = df

# --- 6) Chequeo
m = df_timeline_final["tipo_fila"].astype("string").eq("Liquidaci√≥n")
print("Liquidaci√≥n sin BANCOS_ESTANDAR:", df_timeline_final.loc[m, "BANCOS_ESTANDAR"].isna().sum())
print("Liquidaci√≥n sin D_BRAVO:", df_timeline_final.loc[m, "D_BRAVO"].isna().sum())

Columna deuda detectada: Deuda Resuelve
Columna banco detectada: BANCOS_ESTANDAR
Columna berex detectada: Deuda Berex
Liquidaci√≥n sin BANCOS_ESTANDAR: 0
Liquidaci√≥n sin D_BRAVO: 0

In [ ]:
df_timeline_final

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,Ingreso_esperado,MORA,...,fecha mensaje,inserted_at,end,payment_to_bank,CATEGORIA_PRED,observations,tipo_fila,Negociador liquidacion,Por?,Pago_banco_esperado
0,3012650,111266,5.221621e+07,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,1.177355e+06,120.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660174.40
1,3122962933,225561,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,1.908312e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1069082.50
2,3122962933,225562,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,3.297796e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1451611.04
3,3122962933,225563,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,7.143101e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957662.90
4,3196892494,404243,5.290289e+07,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,1.646470e+05,79.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999258.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44195,3225833196,2091520,1.019066e+09,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,6.881247e+06,7.0,...,2026-01-09 09:44:37,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43471733.67
44196,3105507630,2091523,7.938104e+07,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,1.098479e+07,7.0,...,2026-01-20 12:05:46,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69395555.83
44197,9195828,2091868,9.195828e+06,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,1.317885e+06,7.0,...,2026-01-19 12:35:50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12916890.00
44198,3133407340,2095122,NaN,NaN,Alba Yohana Moreno Martin,Scotiabank Colpatria,NaN,364000.0,NaN,NaN,...,NaT,2026-01-15 00:00:00-05:00,NaN,210000.0,Liquidado,NaN,Liquidaci√≥n,Alba Yohana Moreno Martin,Credito,NaN
44199,3194625050,2098190,NaN,NaN,Norbey Alejandro Duarte Ramirez,Nu,NaN,4913000.0,NaN,NaN,...,NaT,2026-01-19 00:00:00-05:00,NaN,3100000.0,Liquidado,NaN,Liquidaci√≥n,Norbey Alejandro Duarte Ramirez,Credito,NaN

In [ ]:
# =========================================================
# BASE FUNNEL COMPLETA (1 fila por Id deuda) desde df_timeline_final
# Compatible con Google Colab y GitHub / ejecuci√≥n local
# =========================================================

import pandas as pd
import numpy as np

# -----------------------------
# 0) Copia segura
# -----------------------------
df = df_timeline_final.copy()

# -----------------------------
# 1) Tipos / limpieza base
# -----------------------------
df["Id deuda"] = pd.to_numeric(df.get("Id deuda"), errors="coerce").astype("Int64")
df["Referencia"] = pd.to_numeric(df.get("Referencia"), errors="coerce").astype("Int64")

df["inserted_at"] = pd.to_datetime(df.get("inserted_at"), errors="coerce")

df["D_BRAVO"] = pd.to_numeric(df.get("D_BRAVO"), errors="coerce")
df["Ingreso_esperado"] = pd.to_numeric(df.get("Ingreso_esperado"), errors="coerce")
df["payment_to_bank"] = pd.to_numeric(df.get("payment_to_bank"), errors="coerce")

if "CATEGORIA_PRED" not in df.columns:
    raise ValueError("df_timeline_final no tiene la columna 'CATEGORIA_PRED'.")

df["_cat_all_norm"] = (
    df["CATEGORIA_PRED"]
    .astype("string")
    .str.strip()
    .str.upper()
)

# -----------------------------
# 2) Hist√≥rico liquidado
# -----------------------------
liq_hist = (
    df.groupby("Id deuda")["_cat_all_norm"]
      .apply(lambda s: (s == "LIQUIDADO").any())
)

# -----------------------------
# 3) √öltimo registro por deuda
# -----------------------------
df = df.sort_values(["Id deuda", "inserted_at"], na_position="last")
df_ult = df.groupby("Id deuda", as_index=False).tail(1).copy()

df_ult = df_ult.rename(columns={
    "inserted_at": "inserted_at_ultima",
    "observations": "observations_ultima",
    "CATEGORIA_PRED": "CATEGORIA_PRED_ultima",
    "payment_to_bank": "payment_to_bank_ultima",
    "end": "end_ultima",
})

# -----------------------------
# 4) Flags observaci√≥n / mes actual (Bogot√°)
# -----------------------------
obs = (
    df_ult.get("observations_ultima", pd.Series(pd.NA, index=df_ult.index))
    .astype("string")
    .str.strip()
)
df_ult["tiene_obs"] = obs.notna() & (obs != "")

hoy = pd.Timestamp.now(tz="America/Bogota")
inicio_mes = hoy.replace(day=1, hour=0, minute=0, second=0, microsecond=0)

col = "inserted_at_ultima"
df_ult[col] = pd.to_datetime(df_ult[col], errors="coerce")

if df_ult[col].dt.tz is None:
    df_ult[col] = df_ult[col].dt.tz_localize(
        "America/Bogota",
        nonexistent="shift_forward",
        ambiguous="NaT"
    )
else:
    df_ult[col] = df_ult[col].dt.tz_convert("America/Bogota")

df_ult["es_este_mes"] = df_ult[col].notna() & (df_ult[col] >= inicio_mes)

# -----------------------------
# 5) Normalizar categor√≠a √∫ltima
# -----------------------------
df_ult["cat_norm"] = (
    df_ult["CATEGORIA_PRED_ultima"]
    .astype("string")
    .str.strip()
    .str.upper()
)

# -----------------------------
# 6) Liquidado definitivo
# -----------------------------
df_ult["tiene_liquidado_historico"] = df_ult["Id deuda"].map(liq_hist).fillna(False)
cond_f4 = df_ult["tiene_liquidado_historico"]

# -----------------------------
# 7) Fase 3 ‚Äî Avance
# -----------------------------
es_avance_cat = df_ult["cat_norm"].isin(
    ["ACUERDO", "DESCUENTO", "CONTRAPROPUESTA"]
).fillna(False)

deuda = pd.to_numeric(df_ult["D_BRAVO"], errors="coerce")
pab = pd.to_numeric(df_ult["payment_to_bank_ultima"], errors="coerce")
cond_f3 = (es_avance_cat & ((deuda - pab) >= 10000)).fillna(False)

# -----------------------------
# 8) Fase 1 ‚Äî Sin actualizar
# -----------------------------
cond_f1 = ((~df_ult["tiene_obs"]) | (~df_ult["es_este_mes"])).fillna(False)

# -----------------------------
# 9) Fase 2 ‚Äî Actualizado
# -----------------------------
cond_f2 = ((~cond_f1) & (~cond_f3) & (~cond_f4)).fillna(False)

# -----------------------------
# 10) Asignar FASE
# -----------------------------
df_ult["FASE"] = np.select(
    [
        cond_f4.to_numpy(bool),
        cond_f3.to_numpy(bool),
        cond_f2.to_numpy(bool),
        cond_f1.to_numpy(bool),
    ],
    [
        "Fase 4 ‚Äî Liquidado",
        "Fase 3 ‚Äî Avance",
        "Fase 2 ‚Äî Actualizado",
        "Fase 1 ‚Äî Sin actualizar / antes de mes",
    ],
    default="Fase 2 ‚Äî Actualizado"
)

# -----------------------------
# 11) STATUS
# -----------------------------
status_cat = df_ult["cat_norm"].str.title()

df_ult["STATUS"] = np.select(
    [
        cond_f4.to_numpy(bool),
        cond_f3.to_numpy(bool),
        cond_f2.to_numpy(bool),
        (~df_ult["tiene_obs"]).to_numpy(bool),
        (df_ult["tiene_obs"] & ~df_ult["es_este_mes"]).to_numpy(bool),
    ],
    [
        "Liquidado",
        status_cat,
        status_cat,
        "Sin actualizaci√≥n",
        "Actualizado antes",
    ],
    default=status_cat
)

# -----------------------------
# 12) Ingreso funnel
# -----------------------------
df_ult["Ingreso_funnel"] = np.where(
    cond_f4.to_numpy(bool),
    0,
    df_ult["Ingreso_esperado"].fillna(0)
)
# -----------------------------
# 13) Base final (con columnas requeridas)
# -----------------------------
cols_requeridas = [
    "Referencia",
    "Id deuda",
    "Cedula",
    "Nombre del cliente",
    "Negociador",
    "BANCOS_ESTANDAR",
    "Descuento",
    "D_BRAVO",
    "MORA"
    "Estructurable",
    "Potencial",
    "Meses en el Programa",
    "Tipo de Liquidacion",
    "Bucket",
    "Ahorro total",
    "Ahorro medio",
    "Por cobrar",
    "Potencial Credito",
    "Estado Deuda",
    "sub_estado_deuda",
    "estado_reparadora",
    "sub_estado_reparadora",
    "Mora_estructurado",
    "MORA_CREDITO",
    "Priority_level",
    "Ingreso_esperado",
    "Ultimo contacto",
    "fecha mensaje"
]

cols_eventos_ultima = [
    "inserted_at_ultima",
    "end_ultima",
    "CATEGORIA_PRED_ultima",
    "payment_to_bank_ultima",
    "observations_ultima",
]

cols_funnel = [
    "Ingreso_funnel",
    "FASE",
    "STATUS",
    "tiene_obs",
    "es_este_mes",
    "tiene_liquidado_historico",
]

# 1) Garantiza que existan (si no, NA)
for c in (cols_requeridas + cols_eventos_ultima + cols_funnel):
    if c not in df_ult.columns:
        df_ult[c] = pd.NA

# 2) Orden: primero requeridas, luego eventos, luego funnel, luego cualquier otra que exista
extras = [c for c in df_ult.columns if c not in (cols_requeridas + cols_eventos_ultima + cols_funnel)]
cols_salida = cols_requeridas + cols_eventos_ultima + cols_funnel + extras

df_base_funnel = df_ult[cols_salida].copy()

print("‚úÖ df_base_funnel listo")
print("shape:", df_base_funnel.shape)
print("\nDistribuci√≥n por FASE:")
print(df_base_funnel["FASE"].value_counts(dropna=False))

print("\nLiquidado (Fase 4) - filas:",
      (df_base_funnel["FASE"] == "Fase 4 ‚Äî Liquidado").sum())

print(df_base_funnel.head(20))

‚úÖ df_base_funnel listo
shape: (41284, 47)

Distribuci√≥n por FASE:
FASE
Fase 1 ‚Äî Sin actualizar / antes de mes    35999
Fase 2 ‚Äî Actualizado                       4452
Fase 3 ‚Äî Avance                             497
Fase 4 ‚Äî Liquidado                          336
Name: count, dtype: int64

Liquidado (Fase 4) - filas: 336
    Referencia  Id deuda        Cedula                  Nombre del cliente  \
0      3012650    111266  5.221621e+07  CLAUDIA PATRICIA AVENDANO CALDERON
1   3122962933    225561  5.086860e+07         Luz Nelly Betancourt Ortega
2   3122962933    225562  5.086860e+07         Luz Nelly Betancourt Ortega
3   3122962933    225563  5.086860e+07         Luz Nelly Betancourt Ortega
4   3196892494    404243  5.290289e+07                Diana Marcela Suarez
5   3183092531    427629  7.221792e+07          Faiber Alfonso Lemus Silva
7   3003853673    434218  1.263591e+07                 Alfar de jesus Roca
9   3003853673    434219  1.263591e+07                 Alfar de jesus Roca
10  3003853673    434220  1.263591e+07                 Alfar de jesus Roca
11  3142828344    445585  1.022368e+09          Ruben Dario Angel Hincapie
12  3134019891    448998  7.952272e+07        Carlos Eduardo Ordonez Arias
13  3134019891    448999  7.952272e+07        Carlos Eduardo Ordonez Arias
14  3134019891    449001  7.952272e+07        Carlos Eduardo Ordonez Arias
15  3054841798    459362  4.279444e+07               Clara mavel Velaaquez
16  3054841798    459366  4.279444e+07               Clara mavel Velaaquez
17  3127089815    460358  3.130729e+07         Lady Massiel Azcuntar Duran
18  3017216710    461229  3.954569e+07         Carmen Aurora Ramirez Arias
19  3115569551    461743  5.233268e+07               ANA SIXTA MOJICA Vega
20  3115569551    461744  5.233268e+07               ANA SIXTA MOJICA Vega
21  3112881843    463935  7.978499e+07        CARLOS FELIPE ALVAREZ Torres

                         Negociador       BANCOS_ESTANDAR  Descuento  \
0                          Negodito  Scotiabank Colpatria     0.7126
1   William Santiago Abril Esguerra    Banco de Occidente     0.5000
2   William Santiago Abril Esguerra    Banco de Occidente     0.5600
3   William Santiago Abril Esguerra                  Tuya     0.6715
4         Dayana Isabel Ojito Ortiz         Banco Popular     0.4800
5       Laura Yineth Torres Moncada                  Tuya     0.7126
7    Cindy Viviana Barrera Buitrago  Scotiabank Colpatria     0.5800
9    Cindy Viviana Barrera Buitrago  Scotiabank Colpatria     0.5800
10   Cindy Viviana Barrera Buitrago            Serfinanza     0.6584
11  Vivian Caterin Rodriguez Verano         Banco Popular     0.5400
12  Vivian Caterin Rodriguez Verano                  Ita√∫     0.7126
13  Vivian Caterin Rodriguez Verano                  Ita√∫     0.7126
14  Vivian Caterin Rodriguez Verano                  Ita√∫     0.7126
15  Norbey Alejandro Duarte Ramirez         BBVA Colombia     0.7126
16  Norbey Alejandro Duarte Ramirez         BBVA Colombia     0.7126
17        Dayana Isabel Ojito Ortiz           Bancolombia     0.6300
18   Cindy Viviana Barrera Buitrago     Banco Caja Social     0.7126
19   Cindy Viviana Barrera Buitrago               Codensa     0.2564
20   Cindy Viviana Barrera Buitrago       Banco Falabella     0.7126
21  William Santiago Abril Esguerra      Banco Davivienda     0.7161

       D_BRAVO MORAEstructurable  Potencial  ...  tiene_liquidado_historico  \
0    9256000.0              <NA>        5.0  ...                      False
1    2138165.0              <NA>        6.0  ...                      False
2    3299116.0              <NA>        8.0  ...                      False
3    5959400.0              <NA>       13.0  ...                      False
4    1921650.0              <NA>       40.0  ...                      False
5    7481250.0              <NA>       19.0  ...                      False
7    1279300.0              <NA>        4.0  ...                      False
9    1408000.0              <NA>        5.0  ...                      False
10   2440000.0              <NA>        7.0  ...                      False
11   3886592.0              <NA>       43.0  ...                      False
12   9864800.0              <NA>        3.0  ...                      False
13  11809600.0              <NA>        4.0  ...                      False
14  20967505.0              <NA>        7.0  ...                      False
15    973749.0              <NA>        1.0  ...                      False
16   7590523.0              <NA>        8.0  ...                      False
17   3900507.0              <NA>        4.0  ...                      False
18   1386000.0              <NA>        2.0  ...                      False
19   2497950.0              <NA>        5.0  ...                      False
20   4282950.0              <NA>        5.0  ...                      False
21   8881400.0              <NA>        5.0  ...                      False

     MORA  Estructurable  ultimo contacto   tipo_fila  Negociador liquidacion  \
0   120.0            1.0              6.0         NaN                     NaN
1    55.0            1.0              1.0         NaN                     NaN
2    55.0            1.0              1.0         NaN                     NaN
3    55.0            0.0              1.0         NaN                     NaN
4    79.0            1.0              6.0         NaN                     NaN
5    98.0            0.0              6.0         NaN                     NaN
7    39.0            1.0              6.0  mes_actual                     NaN
9    39.0            1.0              6.0  mes_actual                     NaN
10   74.0            1.0              6.0         NaN                     NaN
11   57.0            1.0              6.0         NaN                     NaN
12   78.0            1.0              6.0         NaN                     NaN
13   78.0            1.0              6.0         NaN                     NaN
14   77.0            1.0              6.0         NaN                     NaN
15   74.0            1.0              6.0         NaN                     NaN
16   73.0            1.0              6.0         NaN                     NaN
17   35.0            1.0              6.0         NaN                     NaN
18   36.0            1.0              6.0         NaN                     NaN
19   74.0            1.0              6.0         NaN                     NaN
20   74.0            1.0              6.0         NaN                     NaN
21   58.0            1.0              0.0         NaN                     NaN

   Por? Pago_banco_esperado    _cat_all_norm         cat_norm
0   NaN        2.660174e+06             <NA>             <NA>
1   NaN        1.069082e+06             <NA>             <NA>
2   NaN        1.451611e+06             <NA>             <NA>
3   NaN        1.957663e+06             <NA>             <NA>
4   NaN        9.992580e+05             <NA>             <NA>
5   NaN        2.150111e+06             <NA>             <NA>
7   NaN        5.373060e+05  CONTRAPROPUESTA  CONTRAPROPUESTA
9   NaN        5.913600e+05  CONTRAPROPUESTA  CONTRAPROPUESTA
10  NaN        8.335040e+05             <NA>             <NA>
11  NaN        1.787832e+06             <NA>             <NA>
12  NaN        2.835144e+06             <NA>             <NA>
13  NaN        3.394079e+06             <NA>             <NA>
14  NaN        6.026061e+06             <NA>             <NA>
15  NaN        2.798555e+05             <NA>             <NA>
16  NaN        2.181516e+06             <NA>             <NA>
17  NaN        1.443188e+06             <NA>             <NA>
18  NaN        3.983364e+05             <NA>             <NA>
19  NaN        1.857476e+06             <NA>             <NA>
20  NaN        1.230920e+06             <NA>             <NA>
21  NaN        2.521429e+06             <NA>             <NA>

[20 rows x 47 columns]

In [ ]:
df_timeline_final

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,Ingreso_esperado,MORA,...,fecha mensaje,inserted_at,end,payment_to_bank,CATEGORIA_PRED,observations,tipo_fila,Negociador liquidacion,Por?,Pago_banco_esperado
0,3012650,111266,5.221621e+07,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,1.177355e+06,120.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660174.40
1,3122962933,225561,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,1.908312e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1069082.50
2,3122962933,225562,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,3.297796e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1451611.04
3,3122962933,225563,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,7.143101e+05,55.0,...,2025-12-29 07:31:41,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957662.90
4,3196892494,404243,5.290289e+07,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,1.646470e+05,79.0,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999258.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44195,3225833196,2091520,1.019066e+09,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,6.881247e+06,7.0,...,2026-01-09 09:44:37,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43471733.67
44196,3105507630,2091523,7.938104e+07,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,1.098479e+07,7.0,...,2026-01-20 12:05:46,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69395555.83
44197,9195828,2091868,9.195828e+06,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,1.317885e+06,7.0,...,2026-01-19 12:35:50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12916890.00
44198,3133407340,2095122,NaN,NaN,Alba Yohana Moreno Martin,Scotiabank Colpatria,NaN,364000.0,NaN,NaN,...,NaT,2026-01-15 00:00:00-05:00,NaN,210000.0,Liquidado,NaN,Liquidaci√≥n,Alba Yohana Moreno Martin,Credito,NaN
44199,3194625050,2098190,NaN,NaN,Norbey Alejandro Duarte Ramirez,Nu,NaN,4913000.0,NaN,NaN,...,NaT,2026-01-19 00:00:00-05:00,NaN,3100000.0,Liquidado,NaN,Liquidaci√≥n,Norbey Alejandro Duarte Ramirez,Credito,NaN

In [ ]:
df_base_funnel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41284 entries, 0 to 44199
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Referencia                 41284 non-null  Int64
 1   Id deuda                   41284 non-null  Int64
 2   Cedula                     41084 non-null  float64
 3   Nombre del cliente         41084 non-null  object
 4   Negociador                 41268 non-null  object
 5   BANCOS_ESTANDAR            41284 non-null  object
 6   Descuento                  36308 non-null  float64
 7   D_BRAVO                    41284 non-null  float64
 8   MORAEstructurable          0 non-null      object
 9   Potencial                  36170 non-null  float64
 10  Meses en el Programa       41084 non-null  float64
 11  Tipo de Liquidacion        41284 non-null  object
 12  Bucket                     23022 non-null  float64
 13  Ahorro total               30919 non-null  float64
 14  Ahorro medio               30919 non-null  float64
 15  Por cobrar                 30763 non-null  float64
 16  Potencial Credito          9990 non-null   object
 17  Estado Deuda               40741 non-null  object
 18  sub_estado_deuda           32609 non-null  object
 19  estado_reparadora          40741 non-null  object
 20  sub_estado_reparadora      40690 non-null  object
 21  Mora_estructurado          41084 non-null  object
 22  MORA_CREDITO               41084 non-null  object
 23  Priority_level             41084 non-null  object
 24  Ingreso_esperado           36308 non-null  float64
 25  Ultimo contacto            0 non-null      object
 26  fecha mensaje              38230 non-null  datetime64[ns]
 27  inserted_at_ultima         5276 non-null   datetime64[ns, America/Bogota]
 28  end_ultima                 5076 non-null   object
 29  CATEGORIA_PRED_ultima      5276 non-null   object
 30  payment_to_bank_ultima     5276 non-null   float64
 31  observations_ultima        5076 non-null   object
 32  Ingreso_funnel             41284 non-null  float64
 33  FASE                       41284 non-null  object
 34  STATUS                     41284 non-null  object
 35  tiene_obs                  41284 non-null  boolean
 36  es_este_mes                41284 non-null  bool
 37  tiene_liquidado_historico  41284 non-null  bool
 38  MORA                       41084 non-null  float64
 39  Estructurable              41084 non-null  float64
 40  ultimo contacto            41084 non-null  float64
 41  tipo_fila                  5276 non-null   object
 42  Negociador liquidacion     200 non-null    object
 43  Por?                       200 non-null    object
 44  Pago_banco_esperado        36308 non-null  float64
 45  _cat_all_norm              5276 non-null   string
 46  cat_norm                   5276 non-null   string
dtypes: Int64(2), bool(2), boolean(1), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(16), object(22), string(2)
memory usage: 14.4+ MB

In [ ]:
df_timeline_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44200 entries, 0 to 44199
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Referencia              44200 non-null  Int64
 1   Id deuda                44200 non-null  Int64
 2   Cedula                  43864 non-null  float64
 3   Nombre del cliente      43864 non-null  object
 4   Negociador              44175 non-null  object
 5   BANCOS_ESTANDAR         44200 non-null  object
 6   Descuento               39200 non-null  float64
 7   D_BRAVO                 44200 non-null  float64
 8   Ingreso_esperado        39200 non-null  float64
 9   MORA                    43864 non-null  float64
 10  Estructurable           43864 non-null  float64
 11  Potencial               39048 non-null  float64
 12  Meses en el Programa    43864 non-null  float64
 13  Tipo de Liquidacion     44200 non-null  object
 14  Bucket                  25071 non-null  float64
 15  Ahorro total            33270 non-null  float64
 16  Ahorro medio            33270 non-null  float64
 17  Por cobrar              32991 non-null  float64
 18  Potencial Credito       11989 non-null  object
 19  Estado Deuda            43354 non-null  object
 20  sub_estado_deuda        35221 non-null  object
 21  estado_reparadora       43354 non-null  object
 22  sub_estado_reparadora   43301 non-null  object
 23  Mora_estructurado       43864 non-null  object
 24  MORA_CREDITO            43864 non-null  object
 25  Priority_level          43864 non-null  object
 26  ultimo contacto         43864 non-null  float64
 27  fecha mensaje           40795 non-null  datetime64[ns]
 28  inserted_at             8192 non-null   datetime64[ns, America/Bogota]
 29  end                     7856 non-null   object
 30  payment_to_bank         8192 non-null   float64
 31  CATEGORIA_PRED          8192 non-null   object
 32  observations            7856 non-null   object
 33  tipo_fila               8192 non-null   object
 34  Negociador liquidacion  336 non-null    object
 35  Por?                    336 non-null    object
 36  Pago_banco_esperado     39200 non-null  float64
dtypes: Int64(2), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(15), object(18)
memory usage: 12.6+ MB

In [ ]:
# =====================================================
# Google Sheets en Colab + GitHub usando MI_JSON
# - En Colab: lee MI_JSON desde Secrets (userdata)
# - En GitHub / local: lee MI_JSON desde variable de entorno o archivo .json
# =====================================================

!pip install -q gspread gspread_dataframe

import os, json
import pandas as pd
import gspread
from gspread_dataframe import get_as_dataframe

def _load_service_account_info():
    """
    Devuelve el dict del service account.
    Prioridad:
      1) Colab: userdata.get("MI_JSON")  (tu regla)
      2) Env var: MI_JSON (json string) o MI_JSON_PATH (ruta a .json)
      3) Archivo: service_account.json en el repo (si existe)
    """
    # 1) Colab (seguro si existe)
    try:
        from google.colab import userdata  # solo existe en Colab
        mi_json = userdata.get("MI_JSON")  # <-- tal como lo pediste
        if mi_json:
            return json.loads(mi_json) if isinstance(mi_json, str) else mi_json
    except Exception:
        pass

    # 2) GitHub/Local: env var MI_JSON (contenido json)
    mi_json_env = os.getenv("MI_JSON")
    if mi_json_env:
        return json.loads(mi_json_env)

    # 2b) GitHub/Local: env var MI_JSON_PATH (ruta a archivo json)
    mi_json_path = os.getenv("MI_JSON_PATH")
    if mi_json_path and os.path.exists(mi_json_path):
        with open(mi_json_path, "r", encoding="utf-8") as f:
            return json.load(f)

    # 3) Fallback: archivo en el repo (NO recomendado si es privado, pero √∫til local)
    default_path = "service_account.json"
    if os.path.exists(default_path):
        with open(default_path, "r", encoding="utf-8") as f:
            return json.load(f)

    raise RuntimeError(
        "No encontr√© credenciales. En Colab aseg√∫rate de tener el Secret MI_JSON. "
        "En GitHub configura env var MI_JSON (json) o MI_JSON_PATH (ruta)."
    )

def get_gspread_client():
    sa_info = _load_service_account_info()
    return gspread.service_account_from_dict(sa_info)

# =====================================================
# Leer la hoja "Asignacion"
# =====================================================
SPREADSHEET_ID = "184zZcHRajscoJRyjMkkQjPh0qOlY3iVkQICKHl-iOyU"
NOMBRE_HOJA = "Asignacion"

gc = get_gspread_client()
sh = gc.open_by_key(SPREADSHEET_ID)
ws = sh.worksheet(NOMBRE_HOJA)

df_asignacion = get_as_dataframe(ws, evaluate_formulas=True).dropna(how="all")
df_asignacion.columns = df_asignacion.columns.str.strip()

df_asignacion

                         Negociador           Tipo
0      Julian Andres Ossa Bohorquez           Back
1         Gabriela Saavedra Latorre           Back
2          Yithza Camila Paez Lopez  Estructurados
3         Alba Yohana Moreno Martin        Premium
4       Maria Daniela Sarta Sanchez        Premium
5   Francy Tatiana Sanchez Fontecha        Premium
6        Katherine Marulanda Bernal        Premium
7   William Santiago Abril Esguerra        Premium
8              Niyiret Julio Santos        Premium
9        Angie Lizeth Cubides Neira        Premium
10  Vivian Caterin Rodriguez Verano        Premium
11  Norbey Alejandro Duarte Ramirez    Tradicional
12   Jerry Arturo Hernandez Sanchez    Tradicional
13      Laura Yineth Torres Moncada    Tradicional
14  Diego Alejandro Sanchez Fonseca    Tradicional
15        Dayana Isabel Ojito Ortiz    Tradicional
16   Cindy Viviana Barrera Buitrago    Tradicional
17                         Negodito    Tradicional

In [ ]:
df_timeline_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44200 entries, 0 to 44199
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Referencia              44200 non-null  Int64
 1   Id deuda                44200 non-null  Int64
 2   Cedula                  43864 non-null  float64
 3   Nombre del cliente      43864 non-null  object
 4   Negociador              44175 non-null  object
 5   BANCOS_ESTANDAR         44200 non-null  object
 6   Descuento               39200 non-null  float64
 7   D_BRAVO                 44200 non-null  float64
 8   Ingreso_esperado        39200 non-null  float64
 9   MORA                    43864 non-null  float64
 10  Estructurable           43864 non-null  float64
 11  Potencial               39048 non-null  float64
 12  Meses en el Programa    43864 non-null  float64
 13  Tipo de Liquidacion     44200 non-null  object
 14  Bucket                  25071 non-null  float64
 15  Ahorro total            33270 non-null  float64
 16  Ahorro medio            33270 non-null  float64
 17  Por cobrar              32991 non-null  float64
 18  Potencial Credito       11989 non-null  object
 19  Estado Deuda            43354 non-null  object
 20  sub_estado_deuda        35221 non-null  object
 21  estado_reparadora       43354 non-null  object
 22  sub_estado_reparadora   43301 non-null  object
 23  Mora_estructurado       43864 non-null  object
 24  MORA_CREDITO            43864 non-null  object
 25  Priority_level          43864 non-null  object
 26  ultimo contacto         43864 non-null  float64
 27  fecha mensaje           40795 non-null  datetime64[ns]
 28  inserted_at             8192 non-null   datetime64[ns, America/Bogota]
 29  end                     7856 non-null   object
 30  payment_to_bank         8192 non-null   float64
 31  CATEGORIA_PRED          8192 non-null   object
 32  observations            7856 non-null   object
 33  tipo_fila               8192 non-null   object
 34  Negociador liquidacion  336 non-null    object
 35  Por?                    336 non-null    object
 36  Pago_banco_esperado     39200 non-null  float64
dtypes: Int64(2), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(15), object(18)
memory usage: 12.6+ MB

Aqu√≠ empezamos con los Bucket

In [ ]:
import numpy as np
import pandas as pd

# =========================================================
# 1) Descuento_Actualizacion
#    Si payment_to_bank no es nulo: ((payment_to_bank/D_BRAVO)-1)*-1
# =========================================================
df_timeline_final["Descuento_Actualizacion"] = np.where(
    df_timeline_final["payment_to_bank"].notna(),
    ((df_timeline_final["payment_to_bank"] / df_timeline_final["D_BRAVO"]) - 1) * -1,
    np.nan
)

# =========================================================
# 2) Tipo de Actividad (reglas)
# =========================================================
cat = df_timeline_final["CATEGORIA_PRED"]
desc = df_timeline_final["Descuento_Actualizacion"]

cats_efectiva = {"ACUERDO", "DESCUENTO", "EN_CREDITO", "Liquidado", "SALDOS", "DEPOSITO"}
rango_desc = desc.between(0.03, 0.98, inclusive="both")

# EFECTIVA
cond_efectiva = cat.isin(cats_efectiva) & rango_desc

# ACTUALIZADO_ALIANZAS
cond_act_alianzas = (cat == "ACTUALIZADO_ALIANZAS")

# EFECTIVA DESCUENTO ALIANZAS:
# payment_to_bank < D_BRAVO y (D_BRAVO - payment_to_bank) <= 5000
diff = df_timeline_final["D_BRAVO"] - df_timeline_final["payment_to_bank"]
cond_desc_alianzas = (
    cond_act_alianzas &
    (df_timeline_final["payment_to_bank"] < df_timeline_final["D_BRAVO"]) &
    (diff <= 5000)
)

df_timeline_final["Tipo de Actividad"] = np.select(
    [cond_efectiva, cond_desc_alianzas, cond_act_alianzas],
    ["EFECTIVA", "EFECTIVA DESCUENTO ALIANZAS", "EFECTIVA ALIANZAS"],
    default="NO EFECTIVA"
)

# =========================================================
# 3) Si payment_to_bank, CATEGORIA_PRED y observations son NaN -> Tipo de Actividad = NaN
# =========================================================
cond_nan_total = (
    df_timeline_final["payment_to_bank"].isna() &
    df_timeline_final["CATEGORIA_PRED"].isna() &
    df_timeline_final["observations"].isna()
)
df_timeline_final.loc[cond_nan_total, "Tipo de Actividad"] = np.nan

# =========================================================
# 4) Insertar ambas columnas al lado de 'observations'
#    (quedan inmediatamente despu√©s de observations, en este orden)
# =========================================================
idx_obs = df_timeline_final.columns.get_loc("observations")

# Pop + insert para asegurar ubicaci√≥n/orden
col_da = df_timeline_final.pop("Descuento_Actualizacion")
col_ta = df_timeline_final.pop("Tipo de Actividad")

df_timeline_final.insert(idx_obs + 1, "Descuento_Actualizacion", col_da)
df_timeline_final.insert(idx_obs + 2, "Tipo de Actividad", col_ta)

In [ ]:
df_base_funnel.columns

Index(['Referencia', 'Id deuda', 'Cedula', 'Nombre del cliente', 'Negociador',
       'BANCOS_ESTANDAR', 'Descuento', 'D_BRAVO', 'MORAEstructurable',
       'Potencial', 'Meses en el Programa', 'Tipo de Liquidacion', 'Bucket',
       'Ahorro total', 'Ahorro medio', 'Por cobrar', 'Potencial Credito',
       'Estado Deuda', 'sub_estado_deuda', 'estado_reparadora',
       'sub_estado_reparadora', 'Mora_estructurado', 'MORA_CREDITO',
       'Priority_level', 'Ingreso_esperado', 'Ultimo contacto',
       'fecha mensaje', 'inserted_at_ultima', 'end_ultima',
       'CATEGORIA_PRED_ultima', 'payment_to_bank_ultima',
       'observations_ultima', 'Ingreso_funnel', 'FASE', 'STATUS', 'tiene_obs',
       'es_este_mes', 'tiene_liquidado_historico', 'MORA', 'Estructurable',
       'ultimo contacto', 'tipo_fila', 'Negociador liquidacion', 'Por?',
       'Pago_banco_esperado', '_cat_all_norm', 'cat_norm'],
      dtype='object')

In [ ]:
import numpy as np
import pandas as pd

# =========================================================
# 1) Descuento_Actualizacion
#    Si payment_to_bank no es nulo: ((payment_to_bank/D_BRAVO)-1)*-1
# =========================================================
df_base_funnel["Descuento_Actualizacion"] = np.where(
    df_base_funnel["payment_to_bank_ultima"].notna(),
    ((df_base_funnel["payment_to_bank_ultima"] / df_base_funnel["D_BRAVO"]) - 1) * -1,
    np.nan
)

# =========================================================
# 2) Tipo de Actividad (reglas)
# =========================================================
cat = df_base_funnel["CATEGORIA_PRED_ultima"]
desc = df_base_funnel["Descuento_Actualizacion"]

cats_efectiva = {"ACUERDO", "DESCUENTO", "EN_CREDITO", "Liquidado", "SALDOS", "DEPOSITO"}
rango_desc = desc.between(0.03, 0.98, inclusive="both")

# EFECTIVA
cond_efectiva = cat.isin(cats_efectiva) & rango_desc

# ACTUALIZADO_ALIANZAS
cond_act_alianzas = (cat == "ACTUALIZADO_ALIANZAS")

# EFECTIVA DESCUENTO ALIANZAS:
# payment_to_bank < D_BRAVO y (D_BRAVO - payment_to_bank) <= 5000
diff = df_base_funnel["D_BRAVO"] - df_base_funnel["payment_to_bank_ultima"]
cond_desc_alianzas = (
    cond_act_alianzas &
    (df_base_funnel["payment_to_bank_ultima"] < df_base_funnel["D_BRAVO"]) &
    (diff <= 5000)
)

df_base_funnel["Tipo de Actividad"] = np.select(
    [cond_efectiva, cond_desc_alianzas, cond_act_alianzas],
    ["EFECTIVA", "EFECTIVA DESCUENTO ALIANZAS", "EFECTIVA ALIANZAS"],
    default="NO EFECTIVA"
)

# =========================================================
# 3) Si payment_to_bank, CATEGORIA_PRED y observations son NaN -> Tipo de Actividad = NaN
# =========================================================
cond_nan_total = (
    df_base_funnel["payment_to_bank_ultima"].isna() &
    df_base_funnel["CATEGORIA_PRED_ultima"].isna() &
    df_base_funnel["observations_ultima"].isna()
)
df_base_funnel.loc[cond_nan_total, "Tipo de Actividad"] = np.nan

# =========================================================
# 4) Insertar ambas columnas al lado de 'observations'
#    (quedan inmediatamente despu√©s de observations, en este orden)
# =========================================================
idx_obs = df_base_funnel.columns.get_loc("observations_ultima")

# Pop + insert para asegurar ubicaci√≥n/orden
col_da = df_base_funnel.pop("Descuento_Actualizacion")
col_ta = df_base_funnel.pop("Tipo de Actividad")

df_base_funnel.insert(idx_obs + 1, "Descuento_Actualizacion", col_da)
df_base_funnel.insert(idx_obs + 2, "Tipo de Actividad", col_ta)

In [ ]:
df_base_funnel = df_base_funnel.drop(columns=["Bucket"], errors="ignore")

In [ ]:
df_timeline_final = df_timeline_final.drop(columns=["Bucket"], errors="ignore")

In [ ]:
df_timeline_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44200 entries, 0 to 44199
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Referencia               44200 non-null  Int64
 1   Id deuda                 44200 non-null  Int64
 2   Cedula                   43864 non-null  float64
 3   Nombre del cliente       43864 non-null  object
 4   Negociador               44175 non-null  object
 5   BANCOS_ESTANDAR          44200 non-null  object
 6   Descuento                39200 non-null  float64
 7   D_BRAVO                  44200 non-null  float64
 8   Ingreso_esperado         39200 non-null  float64
 9   MORA                     43864 non-null  float64
 10  Estructurable            43864 non-null  float64
 11  Potencial                39048 non-null  float64
 12  Meses en el Programa     43864 non-null  float64
 13  Tipo de Liquidacion      44200 non-null  object
 14  Ahorro total             33270 non-null  float64
 15  Ahorro medio             33270 non-null  float64
 16  Por cobrar               32991 non-null  float64
 17  Potencial Credito        11989 non-null  object
 18  Estado Deuda             43354 non-null  object
 19  sub_estado_deuda         35221 non-null  object
 20  estado_reparadora        43354 non-null  object
 21  sub_estado_reparadora    43301 non-null  object
 22  Mora_estructurado        43864 non-null  object
 23  MORA_CREDITO             43864 non-null  object
 24  Priority_level           43864 non-null  object
 25  ultimo contacto          43864 non-null  float64
 26  fecha mensaje            40795 non-null  datetime64[ns]
 27  inserted_at              8192 non-null   datetime64[ns, America/Bogota]
 28  end                      7856 non-null   object
 29  payment_to_bank          8192 non-null   float64
 30  CATEGORIA_PRED           8192 non-null   object
 31  observations             7856 non-null   object
 32  Descuento_Actualizacion  8192 non-null   float64
 33  Tipo de Actividad        8192 non-null   object
 34  tipo_fila                8192 non-null   object
 35  Negociador liquidacion   336 non-null    object
 36  Por?                     336 non-null    object
 37  Pago_banco_esperado      39200 non-null  float64
dtypes: Int64(2), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(15), object(19)
memory usage: 12.9+ MB

In [ ]:
df_timeline_final

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,Ingreso_esperado,MORA,...,end,payment_to_bank,CATEGORIA_PRED,observations,Descuento_Actualizacion,Tipo de Actividad,tipo_fila,Negociador liquidacion,Por?,Pago_banco_esperado
0,3012650,111266,5.221621e+07,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,1.177355e+06,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660174.40
1,3122962933,225561,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,1.908312e+05,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1069082.50
2,3122962933,225562,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,3.297796e+05,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1451611.04
3,3122962933,225563,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,7.143101e+05,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957662.90
4,3196892494,404243,5.290289e+07,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,1.646470e+05,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999258.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44195,3225833196,2091520,1.019066e+09,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,6.881247e+06,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43471733.67
44196,3105507630,2091523,7.938104e+07,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,1.098479e+07,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69395555.83
44197,9195828,2091868,9.195828e+06,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,1.317885e+06,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12916890.00
44198,3133407340,2095122,NaN,NaN,Alba Yohana Moreno Martin,Scotiabank Colpatria,NaN,364000.0,NaN,NaN,...,NaN,210000.0,Liquidado,NaN,0.423077,EFECTIVA,Liquidaci√≥n,Alba Yohana Moreno Martin,Credito,NaN
44199,3194625050,2098190,NaN,NaN,Norbey Alejandro Duarte Ramirez,Nu,NaN,4913000.0,NaN,NaN,...,NaN,3100000.0,Liquidado,NaN,0.369021,EFECTIVA,Liquidaci√≥n,Norbey Alejandro Duarte Ramirez,Credito,NaN

In [ ]:
import numpy as np
import pandas as pd

# =========================================================
# CONFIG
# =========================================================
COL_ULT_CONTACTO = "ultimo contacto"   # <- as√≠, con espacio
COL_NEGOCIADOR = "Negociador"          # <- AJUSTA si tu columna se llama distinto
COL_BANCO = "BANCOS_ESTANDAR"

# Distribuci√≥n objetivo por negociador
TARGET_PCTS = {0: 0.10, 1: 0.10, 2: 0.15, 3: 0.15, 4: 0.25, 5: 0.25}
BUCKETS = [0, 1, 2, 3, 4, 5]

# Pesos para score final (puedes ajustarlos)
W_BASE = 0.75   # peso de lo ya construido (Bucket_row consolidado)
W_BANK = 0.25   # peso del banco
# Ahorro/D_BRAVO entra como impulso suave por buckets (ver m√°s abajo)

# M√°s peso al mejor banco que al peor (para el criterio banco)
ALPHA_BEST_BANK = 0.70

# =========================================================
# 0) COPIA + LIMPIEZA / NORMALIZACI√ìN
# =========================================================
df_timeline_final = df_timeline_final.copy()

# Num√©ricas
df_timeline_final[COL_ULT_CONTACTO] = pd.to_numeric(df_timeline_final[COL_ULT_CONTACTO], errors="coerce").fillna(6)
df_timeline_final["Potencial"] = pd.to_numeric(df_timeline_final["Potencial"], errors="coerce")
df_timeline_final["Estructurable"] = pd.to_numeric(df_timeline_final["Estructurable"], errors="coerce")
df_timeline_final["MORA"] = pd.to_numeric(df_timeline_final["MORA"], errors="coerce")
df_timeline_final["Meses en el Programa"] = pd.to_numeric(df_timeline_final["Meses en el Programa"], errors="coerce")
df_timeline_final["D_BRAVO"] = pd.to_numeric(df_timeline_final["D_BRAVO"], errors="coerce")
df_timeline_final["Ahorro total"] = pd.to_numeric(df_timeline_final["Ahorro total"], errors="coerce")

# Textos
mora_credito = df_timeline_final["MORA_CREDITO"].astype("string").str.strip().str.lower()
mora_estruct = df_timeline_final["Mora_estructurado"].astype("string").str.strip().str.lower()
cat_pred = df_timeline_final["CATEGORIA_PRED"].astype("string").str.strip()
cat_upper = cat_pred.str.upper()

# Potencial Credito mixto
pc_raw = df_timeline_final["Potencial Credito"].astype("string").str.strip()
pc_lower = pc_raw.str.lower()
pc_num = pd.to_numeric(pc_raw, errors="coerce")

# =========================================================
# 1) BUCKET "POR FILA" (PASO INTERMEDIO) => Bucket_row (0..5)
# =========================================================
# 1.1 Base por recencia (din√°mico 0..5)
s = df_timeline_final[COL_ULT_CONTACTO]
base = pd.qcut(s.rank(method="first"), q=6, labels=False, duplicates="drop")
n_bins = int(base.max() + 1) if base.notna().any() else 1
if n_bins > 1:
    base_scaled = np.floor(base * (5 / (n_bins - 1))).astype(int)
else:
    base_scaled = pd.Series(0, index=df_timeline_final.index, dtype=int)
df_timeline_final["Bucket_row"] = base_scaled.astype("Int64")

# 1.2 Penalizaci√≥n por cliente con al menos 1 "Liquidado" (suave +1)
#clientes_con_liquidado = df_timeline_final.loc[cat_pred.eq("Liquidado"), "Referencia"].dropna().unique()
#mask_cliente_liquidado = df_timeline_final["Referencia"].isin(clientes_con_liquidado)
#df_timeline_final.loc[mask_cliente_liquidado, "Bucket_row"] = (
#    df_timeline_final.loc[mask_cliente_liquidado, "Bucket_row"].astype(int) + 1
#).clip(upper=5).astype("Int64")

# 1.3 Mora_estructurado
cond_estruct_si = mora_estruct.isin(["s√≠", "si"])
cond_estruct_no = mora_estruct.eq("no")

df_timeline_final.loc[cond_estruct_si, "Bucket_row"] = (
    df_timeline_final.loc[cond_estruct_si, "Bucket_row"].astype(int).clip(lower=4)
).astype("Int64")

df_timeline_final.loc[cond_estruct_no & ~cond_estruct_si, "Bucket_row"] = (
    df_timeline_final.loc[cond_estruct_no & ~cond_estruct_si, "Bucket_row"].astype(int).clip(lower=3)
).astype("Int64")

# 1.4 Potencial (alto aleja => peor (m√°ximo))
p = df_timeline_final["Potencial"]
mask_p = p.notna()
if mask_p.any():
    p_bins = pd.qcut(p[mask_p].rank(method="first"), q=6, labels=False, duplicates="drop")
    n_pbins = int(p_bins.max() + 1) if p_bins.notna().any() else 1
    if n_pbins > 1:
        p_scaled = np.floor(p_bins * (5 / (n_pbins - 1))).astype(int)
    else:
        p_scaled = pd.Series(0, index=p_bins.index, dtype=int)

    bucket_por_pot = pd.Series(pd.NA, index=df_timeline_final.index, dtype="Int64")
    bucket_por_pot.loc[p_scaled.index] = p_scaled.astype("Int64")

    df_timeline_final.loc[mask_p, "Bucket_row"] = np.maximum(
        df_timeline_final.loc[mask_p, "Bucket_row"].astype(int),
        bucket_por_pot.loc[mask_p].astype(int),
    ).astype("Int64")

# 1.5 Estructurable (impulso suave)
mask_e = df_timeline_final["Estructurable"].isin([0, 1])
mask_e1 = mask_e & (df_timeline_final["Estructurable"] == 1)
mask_e0 = mask_e & (df_timeline_final["Estructurable"] == 0)

df_timeline_final.loc[mask_e1, "Bucket_row"] = (
    df_timeline_final.loc[mask_e1, "Bucket_row"].astype(int) - 1
).clip(lower=0).astype("Int64")

df_timeline_final.loc[mask_e0, "Bucket_row"] = (
    df_timeline_final.loc[mask_e0, "Bucket_row"].astype(int) + 1
).clip(upper=5).astype("Int64")

# 1.6 Potencial Credito (mixto)
mask_pc_num = pc_num.notna()
if mask_pc_num.any():
    pc_bins = pd.qcut(pc_num[mask_pc_num].rank(method="first"), q=6, labels=False, duplicates="drop")
    n_pcbins = int(pc_bins.max() + 1) if pc_bins.notna().any() else 1
    if n_pcbins > 1:
        pc_scaled = np.floor(pc_bins * (5 / (n_pcbins - 1))).astype(int)
    else:
        pc_scaled = pd.Series(0, index=pc_bins.index, dtype=int)

    pc_score = pd.Series(pd.NA, index=df_timeline_final.index, dtype="Int64")
    pc_score.loc[pc_scaled.index] = pc_scaled.astype("Int64")

    # score 0-1 => mejora (-1)
    mask_pc_bajo = mask_pc_num & pc_score.isin([0, 1])
    df_timeline_final.loc[mask_pc_bajo, "Bucket_row"] = (
        df_timeline_final.loc[mask_pc_bajo, "Bucket_row"].astype(int) - 1
    ).clip(lower=0).astype("Int64")

    # score 4-5 => empeora (+1)
    mask_pc_alto = mask_pc_num & pc_score.isin([4, 5])
    df_timeline_final.loc[mask_pc_alto, "Bucket_row"] = (
        df_timeline_final.loc[mask_pc_alto, "Bucket_row"].astype(int) + 1
    ).clip(upper=5).astype("Int64")

# =========================================================
# ‚úÖ CAMBIO √öNICO AQU√ç:
# "Tradicional" => motiva Bucket 0 o 1 (m√°ximo 1)
# =========================================================
mask_pc_trad = pc_lower.eq("tradicional")
df_timeline_final.loc[mask_pc_trad, "Bucket_row"] = (
    df_timeline_final.loc[mask_pc_trad, "Bucket_row"].astype(int).clip(upper=1)
).astype("Int64")

# (Dejamos NaN/vac√≠os sin empuje especial; quedan seg√∫n otras reglas)

# 1.7 Meses en el Programa + MORA
mora = df_timeline_final["MORA"]
meses_prog = df_timeline_final["Meses en el Programa"]

# (A) MORA < 5 => grave => 4 o 5 din√°mico
mask_mora_baja = mora.notna() & (mora < 5)
if mask_mora_baja.any():
    mora_baja = mora[mask_mora_baja]
    mb = pd.qcut(mora_baja.rank(method="first"), q=2, labels=False, duplicates="drop")
    if mb.notna().any() and int(mb.max() + 1) > 1:
        mb_scaled = mb.map({0: 4, 1: 5}).astype(int)
    else:
        mb_scaled = pd.Series(4, index=mora_baja.index, dtype=int)

    df_timeline_final.loc[mb_scaled.index, "Bucket_row"] = np.maximum(
        df_timeline_final.loc[mb_scaled.index, "Bucket_row"].astype(int),
        mb_scaled.astype(int),
    ).astype("Int64")

# (B) MORA > 15 => intermedio => 3 o 4 din√°mico
mask_mora_alta = mora.notna() & (mora > 15)
if mask_mora_alta.any():
    mora_alta = mora[mask_mora_alta]
    ma = pd.qcut(mora_alta.rank(method="first"), q=2, labels=False, duplicates="drop")
    if ma.notna().any() and int(ma.max() + 1) > 1:
        ma_scaled = ma.map({0: 3, 1: 4}).astype(int)
    else:
        ma_scaled = pd.Series(3, index=mora_alta.index, dtype=int)

    df_timeline_final.loc[ma_scaled.index, "Bucket_row"] = np.maximum(
        df_timeline_final.loc[ma_scaled.index, "Bucket_row"].astype(int),
        ma_scaled.astype(int),
    ).astype("Int64")

# (C) MORA 6..15 y Meses>3 => impulso positivo -1
mask_top = mora.notna() & meses_prog.notna() & mora.between(6, 15, inclusive="both") & (meses_prog > 3)
df_timeline_final.loc[mask_top, "Bucket_row"] = (
    df_timeline_final.loc[mask_top, "Bucket_row"].astype(int) - 1
).clip(lower=0).astype("Int64")

# =========================================================
# 2) REGLAS DURAS (BUCKET 5 FIJO) ‚Äî POR REFERENCIA
# =========================================================
cond_credito_si = mora_credito.isin(["s√≠", "si"])
refs_credito_si = df_timeline_final.loc[cond_credito_si, "Referencia"].dropna().unique()

refs_no_viable_demanda = df_timeline_final.loc[
    cat_upper.isin(["NO_VIABLE", "DEMANDA", "ILOCALIZADO", "PAGO_POR_FUERA"]),
    "Referencia"
].dropna().unique()

refs_hard_5 = set(refs_credito_si).union(set(refs_no_viable_demanda))

# =========================================================
# 3) BANCOS_ESTANDAR (POR REFERENCIA) ‚Äî PEGA TU LISTA BUENO->MALO
# =========================================================
bancos_orden = [
    "Cobrando",
    "Rappipay",
    "Alkomprar",
    "Rappicard",
    "Pichincha",
    "Bancolombia",
    "Scotiabank Colpatria",
    "Rapicredit",
    "Bancoomeva",
    "Codensa",
    "Covinoc",
    "Zinobe",
    "Banco Popular",
    "SisteCredito",
    "Banco AV Villas",
    "Colsubsidio",
    "Refinancia",
    "Tuya",
    "Credijamar",
    "Agaval",
    "Alkosto",
    "Banco Falabella",
    "Banco de Bogot√°",
    "Sistemcobro",
    "Bancamia",
    "Banco Finandina",
    "Ita√∫",
    "FGA",
    "BBVA Colombia",
    "Serlefin",
    "Flamingo",
    "Mundo Mujer",
    "Banco Davivienda",
    "Banco Caja Social",
    "Comultrasan",
    "Juriscoop",
    "Credivalores",
    "Banco de Occidente",
    "Compensar",
    "JOHN",
    "Fincomercio",
    "GNB Sudameris",
    "Serfinanza",
    "Nu",
    "LuloBank",
    "Aslegal",
    "Baninca",
    "Coltefinanciera",
    "Confiar",
    "Contacto soluci√≥n",
    "Garantias Comunitarias",
    "GRUPO JURIDICO DEUDU",
    "Inversionistas Estrat√©gicos",
    "Juancho te Presta",
    "QNT SAS",
]

bancos_norm = df_timeline_final[COL_BANCO].astype("string").str.strip().str.lower()

if len(bancos_orden) > 0:
    banco_rank_map = {b.strip().lower(): i for i, b in enumerate(bancos_orden)}
    rank_intermedio = len(bancos_orden) // 2
    df_timeline_final["_banco_rank"] = bancos_norm.map(banco_rank_map).fillna(rank_intermedio).astype(int)
else:
    df_timeline_final["_banco_rank"] = 0

grp_rank = df_timeline_final.groupby("Referencia")["_banco_rank"]
best_rank = grp_rank.min()
worst_rank = grp_rank.max()

score_banco = (ALPHA_BEST_BANK * best_rank) + ((1 - ALPHA_BEST_BANK) * worst_rank)

tmp = score_banco.rank(method="first")
bb = pd.qcut(tmp, q=6, labels=False, duplicates="drop")
n_bb = int(bb.max() + 1) if bb.notna().any() else 1
if n_bb > 1:
    bucket_banco = np.floor(bb * (5 / (n_bb - 1))).astype(int)
else:
    bucket_banco = pd.Series(0, index=score_banco.index, dtype=int)
bucket_banco = bucket_banco.clip(0, 5).astype("Int64")
bucket_banco.name = "Bucket_Banco"

# =========================================================
# 4) CRITERIO: max(Ahorro total / D_BRAVO) POR REFERENCIA
#    (alto ratio => empuja hacia bucket bajo, bajo ratio => hacia bucket alto)
# =========================================================
df_timeline_final["ratio_ahorro_db"] = np.where(
    (df_timeline_final["D_BRAVO"].notna()) & (df_timeline_final["D_BRAVO"] > 0) & df_timeline_final["Ahorro total"].notna(),
    df_timeline_final["Ahorro total"] / df_timeline_final["D_BRAVO"],
    np.nan
)

ratio_max_ref = df_timeline_final.groupby("Referencia")["ratio_ahorro_db"].max()

mask_ratio = ratio_max_ref.notna()
if mask_ratio.any():
    rr = pd.qcut(ratio_max_ref[mask_ratio].rank(method="first"), q=6, labels=False, duplicates="drop")
    n_rr = int(rr.max() + 1) if rr.notna().any() else 1
    if n_rr > 1:
        rr_scaled = np.floor(rr * (5 / (n_rr - 1))).astype(int)
    else:
        rr_scaled = pd.Series(0, index=rr.index, dtype=int)

    bucket_ratio = pd.Series(pd.NA, index=ratio_max_ref.index, dtype="Int64")
    bucket_ratio.loc[rr_scaled.index] = (5 - rr_scaled).astype("Int64")  # invertido: alto ratio => bucket bajo
else:
    bucket_ratio = pd.Series(pd.NA, index=ratio_max_ref.index, dtype="Int64")

bucket_ratio.name = "Bucket_Ratio"

# =========================================================
# 5) TABLA POR REFERENCIA: SCORE CONTINUO (para ordenar dentro de negociador)
# =========================================================
bucket_ref_base = df_timeline_final.groupby("Referencia")["Bucket_row"].max().astype("Int64")
bucket_ref_base.name = "bucket_ref_base"

ref_table = pd.concat([bucket_ref_base, bucket_banco, bucket_ratio], axis=1)
ref_table.columns = ["bucket_ref_base", "Bucket_Banco", "Bucket_Ratio"]

# Fill intermedios si falta info (NO castiga ni premia)
ref_table["bucket_ref_base"] = ref_table["bucket_ref_base"].fillna(0)
ref_table["Bucket_Banco"] = ref_table["Bucket_Banco"].fillna(3)
ref_table["Bucket_Ratio"] = ref_table["Bucket_Ratio"].fillna(3)

# score continuo: menor = m√°s importante
# (ratio ya viene como bucket 0..5 invertido, as√≠ que entra directo)
ref_table["score_ref"] = (
    (W_BASE * ref_table["bucket_ref_base"].astype(float)) +
    (W_BANK * ref_table["Bucket_Banco"].astype(float)) +
    (0.20 * ref_table["Bucket_Ratio"].astype(float))  # impulso ahorro/DBRAVO
)

# =========================================================
# 5.1) REGRA DURA: D_BRAVO MUY ALTO => BUCKET 0 o 1
# =========================================================

# promedio global de D_BRAVO
mean_dbravo = df_timeline_final["D_BRAVO"].mean()

# referencias con al menos una deuda 90% > promedio
refs_dbravo_alto = (
    df_timeline_final.loc[
        df_timeline_final["D_BRAVO"] >= 1.9 * mean_dbravo,
        "Referencia"
    ]
    .dropna()
    .unique()
)

# referencias con Banco Davivienda
refs_davivienda = (
    df_timeline_final.loc[
        df_timeline_final[COL_BANCO]
        .astype("string")
        .str.strip()
        .str.lower()
        .eq("banco davivienda"),
        "Referencia"
    ]
    .dropna()
    .unique()
)

# elegibles: alto D_BRAVO, no hard 5, no Davivienda
refs_dbravo_prioridad = (
    set(refs_dbravo_alto)
    - set(refs_hard_5)
    - set(refs_davivienda)
)

# aplicar regla:
# si bucket_base <= 2 => Bucket 0
# si bucket_base > 2  => Bucket 1
mask_prior = ref_table.index.isin(refs_dbravo_prioridad)

ref_table.loc[mask_prior & (ref_table["bucket_ref_base"] <= 2), "bucket_ref_base"] = 0
ref_table.loc[mask_prior & (ref_table["bucket_ref_base"] > 2), "bucket_ref_base"] = 1

# =========================================================
# 6) MAPEAR NEGOCIADOR POR REFERENCIA
#    (si una referencia aparece con varios negociadores, toma el m√°s frecuente)
# =========================================================
ref_neg = (
    df_timeline_final.groupby(["Referencia", COL_NEGOCIADOR]).size()
    .reset_index(name="n")
    .sort_values(["Referencia", "n"], ascending=[True, False])
    .drop_duplicates("Referencia")
    .set_index("Referencia")[COL_NEGOCIADOR]
)

ref_table = ref_table.join(ref_neg.rename("negociador_ref"), how="left")

# =========================================================
# 7) ASIGNACI√ìN EQUITATIVA POR NEGOCIADOR (CUOTAS)
#    Respeta hard=5. El resto se distribuye por score (mejor score => bucket m√°s bajo).
# =========================================================
def _target_counts(n_total: int) -> dict:
    # floor + repartir sobrantes por los buckets m√°s importantes primero
    raw = {b: int(np.floor(TARGET_PCTS[b] * n_total)) for b in BUCKETS}
    missing = n_total - sum(raw.values())
    # repartir sobrantes: 0,1,2,3,4,5
    for b in BUCKETS:
        if missing <= 0:
            break
        raw[b] += 1
        missing -= 1
    return raw

bucket_final = pd.Series(index=ref_table.index, dtype="Int64")

for neg, sub in ref_table.groupby("negociador_ref", dropna=False):
    refs = sub.index.tolist()
    n_total = len(refs)
    if n_total == 0:
        continue

    targets = _target_counts(n_total)

    # hard 5 dentro del negociador
    hard_mask = [r in refs_hard_5 for r in refs]
    hard_refs = sub.index[hard_mask]
    n_hard = len(hard_refs)

    # asignar hard primero
    if n_hard > 0:
        bucket_final.loc[hard_refs] = 5

    # refs elegibles (no hard)
    free = sub.loc[~pd.Index(refs).isin(hard_refs)].copy()
    n_free = len(free)

    if n_free == 0:
        continue

    # ajustar cuota bucket 5 para lo que falte (si hard ya ocup√≥ parte)
    # si hard excede target5, dejamos bucket5 = hard y recortamos otros buckets desde el 4 hacia abajo
    if n_hard > targets[5]:
        extra = n_hard - targets[5]
        targets[5] = n_hard
        # recortar extra de 4,3,2,1,0 en ese orden
        for b in [4, 3, 2, 1, 0]:
            if extra <= 0:
                break
            take = min(targets[b], extra)
            targets[b] -= take
            extra -= take
    else:
        targets[5] = targets[5] - n_hard  # lo que queda por llenar con refs libres

    # si por redondeos qued√≥ suma distinta a n_free, ajustar en bucket 4 (neutro)
    total_needed = sum(targets.values())
    if total_needed != n_free:
        diff = n_free - total_needed
        targets[4] = max(0, targets[4] + diff)

    # ordenar por score (menor=mejor)
    free = free.sort_values("score_ref", ascending=True)

    # asignar por bloques
    start = 0
    for b in BUCKETS:
        cnt = targets[b]
        if cnt <= 0:
            continue
        end = start + cnt
        bucket_final.loc[free.index[start:end]] = b
        start = end

# si alguna referencia qued√≥ sin asignar (por negociador nulo o edge cases), cae a bucket por score global
mask_na = bucket_final.isna()
if mask_na.any():
    tmp = ref_table.loc[mask_na].sort_values("score_ref", ascending=True)
    # asignaci√≥n simple por quantiles globales
    ranks = tmp["score_ref"].rank(method="first")
    q = pd.qcut(ranks, q=6, labels=False, duplicates="drop")
    n_q = int(q.max() + 1) if q.notna().any() else 1
    if n_q > 1:
        q_scaled = np.floor(q * (5 / (n_q - 1))).astype(int)
    else:
        q_scaled = pd.Series(0, index=tmp.index, dtype=int)
    bucket_final.loc[tmp.index] = q_scaled.clip(0, 5).astype("Int64")
    # hard sigue siendo 5
    bucket_final.loc[list(refs_hard_5)] = 5

ref_table["Bucket_ref"] = bucket_final.astype("Int64")

# =========================================================
# 8) PEGAR A TODAS LAS FILAS (UNA REFERENCIA = UN BUCKET)
# =========================================================
df_timeline_final = df_timeline_final.merge(
    ref_table[["Bucket_ref"]],
    left_on="Referencia",
    right_index=True,
    how="left",
)

df_timeline_final["Bucket"] = df_timeline_final["Bucket_ref"].astype("Int64")

# Limpieza auxiliares
df_timeline_final.drop(
    columns=["Bucket_ref", "Bucket_row", "_banco_rank", "ratio_ahorro_db"],
    inplace=True,
    errors="ignore",
)

df_timeline_final["Bucket"] = df_timeline_final["Bucket"].astype(int).clip(0, 5).astype("Int64")

##ESTE CODIGO PARA PLUS EL PROXIMO MES: import numpy as np
import pandas as pd

# =========================================================
# CONFIG
# =========================================================
COL_ULT_CONTACTO = "ultimo contacto"   # <- as√≠, con espacio
COL_NEGOCIADOR = "Negociador"          # <- AJUSTA si tu columna se llama distinto
COL_BANCO = "BANCOS_ESTANDAR"

# Distribuci√≥n objetivo por negociador (default)
TARGET_PCTS_DEFAULT = {0: 0.10, 1: 0.10, 2: 0.15, 3: 0.15, 4: 0.25, 5: 0.25}

# Distribuci√≥n para Premium
TARGET_PCTS_PREMIUM = {0: 0.20, 1: 0.20, 2: 0.20, 3: 0.10, 4: 0.15, 5: 0.15}

BUCKETS = [0, 1, 2, 3, 4, 5]

# Pesos para score final (puedes ajustarlos)
W_BASE = 0.75   # peso de lo ya construido (Bucket_row consolidado)
W_BANK = 0.25   # peso del banco
# Ahorro/D_BRAVO entra como impulso suave por buckets (ver m√°s abajo)

# M√°s peso al mejor banco que al peor (para el criterio banco)
ALPHA_BEST_BANK = 0.70


# =========================================================
# 0) MAPEO Negociador -> Tipo (desde df_asignacion)
#     (Premium vs resto)
# =========================================================
# df_asignacion debe tener columnas: "Negociador" y "Tipo"
neg_tipo_map = (
    df_asignacion[["Negociador", "Tipo"]]
    .dropna()
    .assign(
        Negociador=lambda x: x["Negociador"].astype(str).str.strip(),
        Tipo=lambda x: x["Tipo"].astype(str).str.strip(),
    )
    .drop_duplicates("Negociador")
    .set_index("Negociador")["Tipo"]
    .to_dict()
)


# =========================================================
# 0) COPIA + LIMPIEZA / NORMALIZACI√ìN
# =========================================================
df_timeline_final = df_timeline_final.copy()

# Num√©ricas
df_timeline_final[COL_ULT_CONTACTO] = pd.to_numeric(df_timeline_final[COL_ULT_CONTACTO], errors="coerce").fillna(6)
df_timeline_final["Potencial"] = pd.to_numeric(df_timeline_final["Potencial"], errors="coerce")
df_timeline_final["Estructurable"] = pd.to_numeric(df_timeline_final["Estructurable"], errors="coerce")
df_timeline_final["MORA"] = pd.to_numeric(df_timeline_final["MORA"], errors="coerce")
df_timeline_final["Meses en el Programa"] = pd.to_numeric(df_timeline_final["Meses en el Programa"], errors="coerce")
df_timeline_final["D_BRAVO"] = pd.to_numeric(df_timeline_final["D_BRAVO"], errors="coerce")
df_timeline_final["Ahorro total"] = pd.to_numeric(df_timeline_final["Ahorro total"], errors="coerce")

# Textos
mora_credito = df_timeline_final["MORA_CREDITO"].astype("string").str.strip().str.lower()
mora_estruct = df_timeline_final["Mora_estructurado"].astype("string").str.strip().str.lower()
cat_pred = df_timeline_final["CATEGORIA_PRED"].astype("string").str.strip()
cat_upper = cat_pred.str.upper()

# Potencial Credito mixto
pc_raw = df_timeline_final["Potencial Credito"].astype("string").str.strip()
pc_lower = pc_raw.str.lower()
pc_num = pd.to_numeric(pc_raw, errors="coerce")

# =========================================================
# 1) BUCKET "POR FILA" (PASO INTERMEDIO) => Bucket_row (0..5)
# =========================================================
# 1.1 Base por recencia (din√°mico 0..5)
s = df_timeline_final[COL_ULT_CONTACTO]
base = pd.qcut(s.rank(method="first"), q=6, labels=False, duplicates="drop")
n_bins = int(base.max() + 1) if base.notna().any() else 1
if n_bins > 1:
    base_scaled = np.floor(base * (5 / (n_bins - 1))).astype(int)
else:
    base_scaled = pd.Series(0, index=df_timeline_final.index, dtype=int)
df_timeline_final["Bucket_row"] = base_scaled.astype("Int64")

# 1.2 Penalizaci√≥n por cliente con al menos 1 "Liquidado" (suave +1)
clientes_con_liquidado = df_timeline_final.loc[cat_pred.eq("Liquidado"), "Referencia"].dropna().unique()
mask_cliente_liquidado = df_timeline_final["Referencia"].isin(clientes_con_liquidado)
df_timeline_final.loc[mask_cliente_liquidado, "Bucket_row"] = (
    df_timeline_final.loc[mask_cliente_liquidado, "Bucket_row"].astype(int) + 1
).clip(upper=5).astype("Int64")

# 1.3 Mora_estructurado
cond_estruct_si = mora_estruct.isin(["s√≠", "si"])
cond_estruct_no = mora_estruct.eq("no")

df_timeline_final.loc[cond_estruct_si, "Bucket_row"] = (
    df_timeline_final.loc[cond_estruct_si, "Bucket_row"].astype(int).clip(lower=4)
).astype("Int64")

df_timeline_final.loc[cond_estruct_no & ~cond_estruct_si, "Bucket_row"] = (
    df_timeline_final.loc[cond_estruct_no & ~cond_estruct_si, "Bucket_row"].astype(int).clip(lower=3)
).astype("Int64")

# 1.4 Potencial (alto aleja => peor (m√°ximo))
p = df_timeline_final["Potencial"]
mask_p = p.notna()
if mask_p.any():
    p_bins = pd.qcut(p[mask_p].rank(method="first"), q=6, labels=False, duplicates="drop")
    n_pbins = int(p_bins.max() + 1) if p_bins.notna().any() else 1
    if n_pbins > 1:
        p_scaled = np.floor(p_bins * (5 / (n_pbins - 1))).astype(int)
    else:
        p_scaled = pd.Series(0, index=p_bins.index, dtype=int)

    bucket_por_pot = pd.Series(pd.NA, index=df_timeline_final.index, dtype="Int64")
    bucket_por_pot.loc[p_scaled.index] = p_scaled.astype("Int64")

    df_timeline_final.loc[mask_p, "Bucket_row"] = np.maximum(
        df_timeline_final.loc[mask_p, "Bucket_row"].astype(int),
        bucket_por_pot.loc[mask_p].astype(int),
    ).astype("Int64")

# 1.5 Estructurable (impulso suave)
mask_e = df_timeline_final["Estructurable"].isin([0, 1])
mask_e1 = mask_e & (df_timeline_final["Estructurable"] == 1)
mask_e0 = mask_e & (df_timeline_final["Estructurable"] == 0)

df_timeline_final.loc[mask_e1, "Bucket_row"] = (
    df_timeline_final.loc[mask_e1, "Bucket_row"].astype(int) - 1
).clip(lower=0).astype("Int64")

df_timeline_final.loc[mask_e0, "Bucket_row"] = (
    df_timeline_final.loc[mask_e0, "Bucket_row"].astype(int) + 1
).clip(upper=5).astype("Int64")

# 1.6 Potencial Credito (mixto)
mask_pc_num = pc_num.notna()
if mask_pc_num.any():
    pc_bins = pd.qcut(pc_num[mask_pc_num].rank(method="first"), q=6, labels=False, duplicates="drop")
    n_pcbins = int(pc_bins.max() + 1) if pc_bins.notna().any() else 1
    if n_pcbins > 1:
        pc_scaled = np.floor(pc_bins * (5 / (n_pcbins - 1))).astype(int)
    else:
        pc_scaled = pd.Series(0, index=pc_bins.index, dtype=int)

    pc_score = pd.Series(pd.NA, index=df_timeline_final.index, dtype="Int64")
    pc_score.loc[pc_scaled.index] = pc_scaled.astype("Int64")

    # score 0-1 => mejora (-1)
    mask_pc_bajo = mask_pc_num & pc_score.isin([0, 1])
    df_timeline_final.loc[mask_pc_bajo, "Bucket_row"] = (
        df_timeline_final.loc[mask_pc_bajo, "Bucket_row"].astype(int) - 1
    ).clip(lower=0).astype("Int64")

    # score 4-5 => empeora (+1)
    mask_pc_alto = mask_pc_num & pc_score.isin([4, 5])
    df_timeline_final.loc[mask_pc_alto, "Bucket_row"] = (
        df_timeline_final.loc[mask_pc_alto, "Bucket_row"].astype(int) + 1
    ).clip(upper=5).astype("Int64")

# Tradicional o NaN => intermedio (m√≠nimo 3)
mask_pc_trad = pc_lower.eq("tradicional")
mask_pc_nan = pc_raw.isna() | pc_lower.isin(["<na>", "nan", "none", ""])
mask_pc_intermedio = (mask_pc_trad | mask_pc_nan) & (~mask_pc_num)
df_timeline_final.loc[mask_pc_intermedio, "Bucket_row"] = (
    df_timeline_final.loc[mask_pc_intermedio, "Bucket_row"].astype(int).clip(lower=3)
).astype("Int64")

# 1.7 Meses en el Programa + MORA
mora = df_timeline_final["MORA"]
meses_prog = df_timeline_final["Meses en el Programa"]

# (A) MORA < 5 => grave => 4 o 5 din√°mico
mask_mora_baja = mora.notna() & (mora < 5)
if mask_mora_baja.any():
    mora_baja = mora[mask_mora_baja]
    mb = pd.qcut(mora_baja.rank(method="first"), q=2, labels=False, duplicates="drop")
    if mb.notna().any() and int(mb.max() + 1) > 1:
        mb_scaled = mb.map({0: 4, 1: 5}).astype(int)
    else:
        mb_scaled = pd.Series(4, index=mora_baja.index, dtype=int)

    df_timeline_final.loc[mb_scaled.index, "Bucket_row"] = np.maximum(
        df_timeline_final.loc[mb_scaled.index, "Bucket_row"].astype(int),
        mb_scaled.astype(int),
    ).astype("Int64")

# (B) MORA > 15 => intermedio => 3 o 4 din√°mico
mask_mora_alta = mora.notna() & (mora > 15)
if mask_mora_alta.any():
    mora_alta = mora[mask_mora_alta]
    ma = pd.qcut(mora_alta.rank(method="first"), q=2, labels=False, duplicates="drop")
    if ma.notna().any() and int(ma.max() + 1) > 1:
        ma_scaled = ma.map({0: 3, 1: 4}).astype(int)
    else:
        ma_scaled = pd.Series(3, index=mora_alta.index, dtype=int)

    df_timeline_final.loc[ma_scaled.index, "Bucket_row"] = np.maximum(
        df_timeline_final.loc[ma_scaled.index, "Bucket_row"].astype(int),
        ma_scaled.astype(int),
    ).astype("Int64")

# (C) MORA 6..15 y Meses>3 => impulso positivo -1
mask_top = mora.notna() & meses_prog.notna() & mora.between(6, 15, inclusive="both") & (meses_prog > 3)
df_timeline_final.loc[mask_top, "Bucket_row"] = (
    df_timeline_final.loc[mask_top, "Bucket_row"].astype(int) - 1
).clip(lower=0).astype("Int64")

# =========================================================
# 2) REGLAS DURAS (BUCKET 5 FIJO) ‚Äî POR REFERENCIA
# =========================================================
cond_credito_si = mora_credito.isin(["s√≠", "si"])
refs_credito_si = df_timeline_final.loc[cond_credito_si, "Referencia"].dropna().unique()

refs_no_viable_demanda = df_timeline_final.loc[
    cat_upper.isin(["NO_VIABLE", "DEMANDA", "ILOCALIZADO", "PAGO_POR_FUERA"]),
    "Referencia"
].dropna().unique()

refs_hard_5 = set(refs_credito_si).union(set(refs_no_viable_demanda))

# =========================================================
# 3) BANCOS_ESTANDAR (POR REFERENCIA) ‚Äî PEGA TU LISTA BUENO->MALO
# =========================================================
bancos_orden = [
    "Cobrando","Rappipay","Alkomprar","Rappicard","Pichincha","Bancolombia",
    "Scotiabank Colpatria","Rapicredit","Bancoomeva","Codensa","Covinoc","Zinobe",
    "Banco Popular","SisteCredito","Banco AV Villas","Colsubsidio","Refinancia","Tuya",
    "Credijamar","Agaval","Alkosto","Banco Falabella","Banco de Bogot√°","Sistemcobro",
    "Bancamia","Banco Finandina","Ita√∫","FGA","BBVA Colombia","Serlefin","Flamingo",
    "Mundo Mujer","Banco Davivienda","Banco Caja Social","Comultrasan","Juriscoop",
    "Credivalores","Banco de Occidente","Compensar","JOHN","Fincomercio","GNB Sudameris",
    "Serfinanza","Nu","LuloBank","Aslegal","Baninca","Coltefinanciera","Confiar",
    "Contacto soluci√≥n","Garantias Comunitarias","GRUPO JURIDICO DEUDU",
    "Inversionistas Estrat√©gicos","Juancho te Presta","QNT SAS",
]

bancos_norm = df_timeline_final[COL_BANCO].astype("string").str.strip().str.lower()

if len(bancos_orden) > 0:
    banco_rank_map = {b.strip().lower(): i for i, b in enumerate(bancos_orden)}
    rank_intermedio = len(bancos_orden) // 2
    df_timeline_final["_banco_rank"] = bancos_norm.map(banco_rank_map).fillna(rank_intermedio).astype(int)
else:
    df_timeline_final["_banco_rank"] = 0

grp_rank = df_timeline_final.groupby("Referencia")["_banco_rank"]
best_rank = grp_rank.min()
worst_rank = grp_rank.max()

score_banco = (ALPHA_BEST_BANK * best_rank) + ((1 - ALPHA_BEST_BANK) * worst_rank)

tmp = score_banco.rank(method="first")
bb = pd.qcut(tmp, q=6, labels=False, duplicates="drop")
n_bb = int(bb.max() + 1) if bb.notna().any() else 1
if n_bb > 1:
    bucket_banco = np.floor(bb * (5 / (n_bb - 1))).astype(int)
else:
    bucket_banco = pd.Series(0, index=score_banco.index, dtype=int)
bucket_banco = bucket_banco.clip(0, 5).astype("Int64")
bucket_banco.name = "Bucket_Banco"

# =========================================================
# 4) CRITERIO: max(Ahorro total / D_BRAVO) POR REFERENCIA
# =========================================================
df_timeline_final["ratio_ahorro_db"] = np.where(
    (df_timeline_final["D_BRAVO"].notna()) & (df_timeline_final["D_BRAVO"] > 0) & df_timeline_final["Ahorro total"].notna(),
    df_timeline_final["Ahorro total"] / df_timeline_final["D_BRAVO"],
    np.nan
)

ratio_max_ref = df_timeline_final.groupby("Referencia")["ratio_ahorro_db"].max()

mask_ratio = ratio_max_ref.notna()
if mask_ratio.any():
    rr = pd.qcut(ratio_max_ref[mask_ratio].rank(method="first"), q=6, labels=False, duplicates="drop")
    n_rr = int(rr.max() + 1) if rr.notna().any() else 1
    if n_rr > 1:
        rr_scaled = np.floor(rr * (5 / (n_rr - 1))).astype(int)
    else:
        rr_scaled = pd.Series(0, index=rr.index, dtype=int)

    bucket_ratio = pd.Series(pd.NA, index=ratio_max_ref.index, dtype="Int64")
    bucket_ratio.loc[rr_scaled.index] = (5 - rr_scaled).astype("Int64")
else:
    bucket_ratio = pd.Series(pd.NA, index=ratio_max_ref.index, dtype="Int64")

bucket_ratio.name = "Bucket_Ratio"

# =========================================================
# 5) TABLA POR REFERENCIA: SCORE CONTINUO
# =========================================================
bucket_ref_base = df_timeline_final.groupby("Referencia")["Bucket_row"].max().astype("Int64")
bucket_ref_base.name = "bucket_ref_base"

ref_table = pd.concat([bucket_ref_base, bucket_banco, bucket_ratio], axis=1)
ref_table.columns = ["bucket_ref_base", "Bucket_Banco", "Bucket_Ratio"]

ref_table["bucket_ref_base"] = ref_table["bucket_ref_base"].fillna(0)
ref_table["Bucket_Banco"] = ref_table["Bucket_Banco"].fillna(3)
ref_table["Bucket_Ratio"] = ref_table["Bucket_Ratio"].fillna(3)

ref_table["score_ref"] = (
    (W_BASE * ref_table["bucket_ref_base"].astype(float)) +
    (W_BANK * ref_table["Bucket_Banco"].astype(float)) +
    (0.20 * ref_table["Bucket_Ratio"].astype(float))
)

# =========================================================
# 5.1) REGRA DURA: D_BRAVO MUY ALTO => BUCKET 0 o 1
# =========================================================
mean_dbravo = df_timeline_final["D_BRAVO"].mean()

refs_dbravo_alto = (
    df_timeline_final.loc[df_timeline_final["D_BRAVO"] >= 1.9 * mean_dbravo, "Referencia"]
    .dropna().unique()
)

refs_davivienda = (
    df_timeline_final.loc[
        df_timeline_final[COL_BANCO].astype("string").str.strip().str.lower().eq("banco davivienda"),
        "Referencia"
    ]
    .dropna().unique()
)

refs_dbravo_prioridad = set(refs_dbravo_alto) - set(refs_hard_5) - set(refs_davivienda)

mask_prior = ref_table.index.isin(refs_dbravo_prioridad)
ref_table.loc[mask_prior & (ref_table["bucket_ref_base"] <= 2), "bucket_ref_base"] = 0
ref_table.loc[mask_prior & (ref_table["bucket_ref_base"] > 2), "bucket_ref_base"] = 1

# OJO: como bucket_ref_base cambi√≥, re-calculamos score_ref
ref_table["score_ref"] = (
    (W_BASE * ref_table["bucket_ref_base"].astype(float)) +
    (W_BANK * ref_table["Bucket_Banco"].astype(float)) +
    (0.20 * ref_table["Bucket_Ratio"].astype(float))
)

# =========================================================
# 6) MAPEAR NEGOCIADOR POR REFERENCIA
# =========================================================
ref_neg = (
    df_timeline_final.groupby(["Referencia", COL_NEGOCIADOR]).size()
    .reset_index(name="n")
    .sort_values(["Referencia", "n"], ascending=[True, False])
    .drop_duplicates("Referencia")
    .set_index("Referencia")[COL_NEGOCIADOR]
)

ref_table = ref_table.join(ref_neg.rename("negociador_ref"), how="left")

# =========================================================
# 7) ASIGNACI√ìN EQUITATIVA POR NEGOCIADOR (CUOTAS) + PREMIUM
# =========================================================
def _target_counts(n_total: int, pcts: dict) -> dict:
    raw = {b: int(np.floor(pcts[b] * n_total)) for b in BUCKETS}
    missing = n_total - sum(raw.values())
    for b in BUCKETS:
        if missing <= 0:
            break
        raw[b] += 1
        missing -= 1
    return raw

bucket_final = pd.Series(index=ref_table.index, dtype="Int64")

for neg, sub in ref_table.groupby("negociador_ref", dropna=False):
    refs = sub.index.tolist()
    n_total = len(refs)
    if n_total == 0:
        continue

    # Elegir distribuci√≥n seg√∫n tipo
    tipo_neg = neg_tipo_map.get(str(neg).strip(), "")
    pcts = TARGET_PCTS_PREMIUM if tipo_neg == "Premium" else TARGET_PCTS_DEFAULT

    targets = _target_counts(n_total, pcts)

    # hard 5 dentro del negociador
    hard_mask = [r in refs_hard_5 for r in refs]
    hard_refs = sub.index[hard_mask]
    n_hard = len(hard_refs)

    if n_hard > 0:
        bucket_final.loc[hard_refs] = 5

    free = sub.loc[~pd.Index(refs).isin(hard_refs)].copy()
    n_free = len(free)

    if n_free == 0:
        continue

    if n_hard > targets[5]:
        extra = n_hard - targets[5]
        targets[5] = n_hard
        for b in [4, 3, 2, 1, 0]:
            if extra <= 0:
                break
            take = min(targets[b], extra)
            targets[b] -= take
            extra -= take
    else:
        targets[5] = targets[5] - n_hard

    total_needed = sum(targets.values())
    if total_needed != n_free:
        diff = n_free - total_needed
        targets[4] = max(0, targets[4] + diff)

    free = free.sort_values("score_ref", ascending=True)

    start = 0
    for b in BUCKETS:
        cnt = targets[b]
        if cnt <= 0:
            continue
        end = start + cnt
        bucket_final.loc[free.index[start:end]] = b
        start = end

mask_na = bucket_final.isna()
if mask_na.any():
    tmp = ref_table.loc[mask_na].sort_values("score_ref", ascending=True)
    ranks = tmp["score_ref"].rank(method="first")
    q = pd.qcut(ranks, q=6, labels=False, duplicates="drop")
    n_q = int(q.max() + 1) if q.notna().any() else 1
    if n_q > 1:
        q_scaled = np.floor(q * (5 / (n_q - 1))).astype(int)
    else:
        q_scaled = pd.Series(0, index=tmp.index, dtype=int)
    bucket_final.loc[tmp.index] = q_scaled.clip(0, 5).astype("Int64")
    bucket_final.loc[list(refs_hard_5)] = 5

ref_table["Bucket_ref"] = bucket_final.astype("Int64")

# =========================================================
# 8) PEGAR A TODAS LAS FILAS (UNA REFERENCIA = UN BUCKET)
# =========================================================
df_timeline_final = df_timeline_final.merge(
    ref_table[["Bucket_ref"]],
    left_on="Referencia",
    right_index=True,
    how="left",
)

df_timeline_final["Bucket"] = df_timeline_final["Bucket_ref"].astype("Int64")

df_timeline_final.drop(
    columns=["Bucket_ref", "Bucket_row", "_banco_rank", "ratio_ahorro_db"],
    inplace=True,
    errors="ignore",
)

df_timeline_final["Bucket"] = df_timeline_final["Bucket"].astype(int).clip(0, 5).astype("Int64")

In [ ]:
df_timeline_final

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,Ingreso_esperado,MORA,...,payment_to_bank,CATEGORIA_PRED,observations,Descuento_Actualizacion,Tipo de Actividad,tipo_fila,Negociador liquidacion,Por?,Pago_banco_esperado,Bucket
0,3012650,111266,5.221621e+07,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,1.177355e+06,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660174.40,1
1,3122962933,225561,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,1.908312e+05,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1069082.50,2
2,3122962933,225562,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,3.297796e+05,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1451611.04,2
3,3122962933,225563,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,7.143101e+05,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957662.90,2
4,3196892494,404243,5.290289e+07,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,1.646470e+05,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999258.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44195,3225833196,2091520,1.019066e+09,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,6.881247e+06,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43471733.67,4
44196,3105507630,2091523,7.938104e+07,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,1.098479e+07,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69395555.83,1
44197,9195828,2091868,9.195828e+06,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,1.317885e+06,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12916890.00,1
44198,3133407340,2095122,NaN,NaN,Alba Yohana Moreno Martin,Scotiabank Colpatria,NaN,364000.0,NaN,NaN,...,210000.0,Liquidado,NaN,0.423077,EFECTIVA,Liquidaci√≥n,Alba Yohana Moreno Martin,Credito,NaN,3
44199,3194625050,2098190,NaN,NaN,Norbey Alejandro Duarte Ramirez,Nu,NaN,4913000.0,NaN,NaN,...,3100000.0,Liquidado,NaN,0.369021,EFECTIVA,Liquidaci√≥n,Norbey Alejandro Duarte Ramirez,Credito,NaN,5

In [ ]:
import pandas as pd

# 1) Borrar columnas (no falla si alguna no existe)
df_base_funnel = df_base_funnel.drop(columns=["_cat_all_norm", "cat_norm"], errors="ignore")

# 2) Crear mapeo √∫nico Id deuda -> Bucket (sin duplicar filas)
#    Si hay repetidos, se queda con el primer Bucket no nulo (y si todos son nulos, queda nulo)
bucket_map = (
    df_timeline_final[["Id deuda", "Bucket"]]
    .dropna(subset=["Id deuda"])
    .sort_values("Id deuda")
    .drop_duplicates(subset=["Id deuda"], keep="first")
)

# 3) Agregar Bucket a df_base_funnel sin crear filas nuevas (LEFT JOIN)
df_base_funnel = df_base_funnel.merge(
    bucket_map,
    on="Id deuda",
    how="left",
    validate="m:1"  # muchas en df_base_funnel -> 1 en bucket_map
)

In [ ]:
df_timeline_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44200 entries, 0 to 44199
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Referencia               44200 non-null  Int64
 1   Id deuda                 44200 non-null  Int64
 2   Cedula                   43864 non-null  float64
 3   Nombre del cliente       43864 non-null  object
 4   Negociador               44175 non-null  object
 5   BANCOS_ESTANDAR          44200 non-null  object
 6   Descuento                39200 non-null  float64
 7   D_BRAVO                  44200 non-null  float64
 8   Ingreso_esperado         39200 non-null  float64
 9   MORA                     43864 non-null  float64
 10  Estructurable            43864 non-null  float64
 11  Potencial                39048 non-null  float64
 12  Meses en el Programa     43864 non-null  float64
 13  Tipo de Liquidacion      44200 non-null  object
 14  Ahorro total             33270 non-null  float64
 15  Ahorro medio             33270 non-null  float64
 16  Por cobrar               32991 non-null  float64
 17  Potencial Credito        11989 non-null  object
 18  Estado Deuda             43354 non-null  object
 19  sub_estado_deuda         35221 non-null  object
 20  estado_reparadora        43354 non-null  object
 21  sub_estado_reparadora    43301 non-null  object
 22  Mora_estructurado        43864 non-null  object
 23  MORA_CREDITO             43864 non-null  object
 24  Priority_level           43864 non-null  object
 25  ultimo contacto          44200 non-null  float64
 26  fecha mensaje            40795 non-null  datetime64[ns]
 27  inserted_at              8192 non-null   datetime64[ns, America/Bogota]
 28  end                      7856 non-null   object
 29  payment_to_bank          8192 non-null   float64
 30  CATEGORIA_PRED           8192 non-null   object
 31  observations             7856 non-null   object
 32  Descuento_Actualizacion  8192 non-null   float64
 33  Tipo de Actividad        8192 non-null   object
 34  tipo_fila                8192 non-null   object
 35  Negociador liquidacion   336 non-null    object
 36  Por?                     336 non-null    object
 37  Pago_banco_esperado      39200 non-null  float64
 38  Bucket                   44200 non-null  Int64
dtypes: Int64(3), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(15), object(19)
memory usage: 13.3+ MB

In [ ]:
df_base_funnel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41284 entries, 0 to 41283
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Referencia                 41284 non-null  Int64
 1   Id deuda                   41284 non-null  Int64
 2   Cedula                     41084 non-null  float64
 3   Nombre del cliente         41084 non-null  object
 4   Negociador                 41268 non-null  object
 5   BANCOS_ESTANDAR            41284 non-null  object
 6   Descuento                  36308 non-null  float64
 7   D_BRAVO                    41284 non-null  float64
 8   MORAEstructurable          0 non-null      object
 9   Potencial                  36170 non-null  float64
 10  Meses en el Programa       41084 non-null  float64
 11  Tipo de Liquidacion        41284 non-null  object
 12  Ahorro total               30919 non-null  float64
 13  Ahorro medio               30919 non-null  float64
 14  Por cobrar                 30763 non-null  float64
 15  Potencial Credito          9990 non-null   object
 16  Estado Deuda               40741 non-null  object
 17  sub_estado_deuda           32609 non-null  object
 18  estado_reparadora          40741 non-null  object
 19  sub_estado_reparadora      40690 non-null  object
 20  Mora_estructurado          41084 non-null  object
 21  MORA_CREDITO               41084 non-null  object
 22  Priority_level             41084 non-null  object
 23  Ingreso_esperado           36308 non-null  float64
 24  Ultimo contacto            0 non-null      object
 25  fecha mensaje              38230 non-null  datetime64[ns]
 26  inserted_at_ultima         5276 non-null   datetime64[ns, America/Bogota]
 27  end_ultima                 5076 non-null   object
 28  CATEGORIA_PRED_ultima      5276 non-null   object
 29  payment_to_bank_ultima     5276 non-null   float64
 30  observations_ultima        5076 non-null   object
 31  Descuento_Actualizacion    5276 non-null   float64
 32  Tipo de Actividad          5276 non-null   object
 33  Ingreso_funnel             41284 non-null  float64
 34  FASE                       41284 non-null  object
 35  STATUS                     41284 non-null  object
 36  tiene_obs                  41284 non-null  boolean
 37  es_este_mes                41284 non-null  bool
 38  tiene_liquidado_historico  41284 non-null  bool
 39  MORA                       41084 non-null  float64
 40  Estructurable              41084 non-null  float64
 41  ultimo contacto            41084 non-null  float64
 42  tipo_fila                  5276 non-null   object
 43  Negociador liquidacion     200 non-null    object
 44  Por?                       200 non-null    object
 45  Pago_banco_esperado        36308 non-null  float64
 46  Bucket                     41284 non-null  Int64
dtypes: Int64(3), bool(2), boolean(1), datetime64[ns, America/Bogota](1), datetime64[ns](1), float64(16), object(23)
memory usage: 14.1+ MB

In [ ]:
df_base_funnel

,Referencia,Id deuda,Cedula,Nombre del cliente,Negociador,BANCOS_ESTANDAR,Descuento,D_BRAVO,MORAEstructurable,Potencial,...,es_este_mes,tiene_liquidado_historico,MORA,Estructurable,ultimo contacto,tipo_fila,Negociador liquidacion,Por?,Pago_banco_esperado,Bucket
0,3012650,111266,5.221621e+07,CLAUDIA PATRICIA AVENDANO CALDERON,Negodito,Scotiabank Colpatria,0.7126,9256000.0,<NA>,5.0,...,False,False,120.0,1.0,6.0,NaN,NaN,NaN,2660174.40,1
1,3122962933,225561,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5000,2138165.0,<NA>,6.0,...,False,False,55.0,1.0,1.0,NaN,NaN,NaN,1069082.50,2
2,3122962933,225562,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Banco de Occidente,0.5600,3299116.0,<NA>,8.0,...,False,False,55.0,1.0,1.0,NaN,NaN,NaN,1451611.04,2
3,3122962933,225563,5.086860e+07,Luz Nelly Betancourt Ortega,William Santiago Abril Esguerra,Tuya,0.6715,5959400.0,<NA>,13.0,...,False,False,55.0,0.0,1.0,NaN,NaN,NaN,1957662.90,2
4,3196892494,404243,5.290289e+07,Diana Marcela Suarez,Dayana Isabel Ojito Ortiz,Banco Popular,0.4800,1921650.0,<NA>,40.0,...,False,False,79.0,1.0,6.0,NaN,NaN,NaN,999258.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41279,3225833196,2091520,1.019066e+09,JUAN DAVID LOZANO TRIVINO,Gabriela Saavedra Latorre,Bancolombia,0.4700,82022139.0,<NA>,24.0,...,False,False,7.0,0.0,0.0,NaN,NaN,NaN,43471733.67,4
41280,3105507630,2091523,7.938104e+07,JUAN CARLOS PACHECO CONTRERAS,Julian Andres Ossa Bohorquez,Bancolombia,0.4700,130935011.0,<NA>,30.0,...,False,False,7.0,0.0,0.0,NaN,NaN,NaN,69395555.83,1
41281,9195828,2091868,9.195828e+06,FARID ANTONIO LARA ANAYA,Vivian Caterin Rodriguez Verano,Mundo Mujer,0.3637,20300000.0,<NA>,9.0,...,False,False,7.0,0.0,0.0,NaN,NaN,NaN,12916890.00,1
41282,3133407340,2095122,NaN,NaN,Alba Yohana Moreno Martin,Scotiabank Colpatria,NaN,364000.0,<NA>,NaN,...,True,True,NaN,NaN,NaN,Liquidaci√≥n,Alba Yohana Moreno Martin,Credito,NaN,3
41283,3194625050,2098190,NaN,NaN,Norbey Alejandro Duarte Ramirez,Nu,NaN,4913000.0,<NA>,NaN,...,True,True,NaN,NaN,NaN,Liquidaci√≥n,Norbey Alejandro Duarte Ramirez,Credito,NaN,5

In [ ]:
import pandas as pd

# ====== AJUSTA ESTOS NOMBRES SI ES NECESARIO ======
COL_ID = "Id deuda"       # o "ID_DEUDA", "id_deuda", etc.
COL_REF = "Referencia"    # o "REFERENCIA", etc.

# Categor√≠as
COL_BASE_CAT = "CATEGORIA_PRED_ultima"
COL_TIME_CAT = "CATEGORIA_PRED"

# ====== 1) Filtrar LIQUIDADO en ambos ======
base_liq = df_base_funnel.loc[df_base_funnel[COL_BASE_CAT].eq("Liquidado")].copy()
time_liq = df_timeline_final.loc[df_timeline_final[COL_TIME_CAT].eq("Liquidado")].copy()

# ====== 2) Ver LIQUIDADOS que est√°n en timeline pero NO aparecen en base (por ID) ======
ids_base = set(base_liq[COL_ID].dropna().astype(str))
ids_time = set(time_liq[COL_ID].dropna().astype(str))

ids_liq_faltan_en_base = sorted(ids_time - ids_base)

df_ids_faltan = (
    time_liq.loc[time_liq[COL_ID].astype(str).isin(ids_liq_faltan_en_base),
                 [COL_ID, COL_REF, COL_TIME_CAT]]
    .drop_duplicates()
    .sort_values([COL_ID, COL_REF], na_position="last")
)

print("Conteo Liquidado base:", len(base_liq))
print("Conteo Liquidado timeline:", len(time_liq))
print("IDs Liquidado en timeline que NO est√°n en base_liq:", len(ids_liq_faltan_en_base))

# ====== 3) Lo mismo por Referencia ======
refs_base = set(base_liq[COL_REF].dropna().astype(str))
refs_time = set(time_liq[COL_REF].dropna().astype(str))

refs_liq_faltan_en_base = sorted(refs_time - refs_base)

df_refs_faltan = (
    time_liq.loc[time_liq[COL_REF].astype(str).isin(refs_liq_faltan_en_base),
                 [COL_REF, COL_ID, COL_TIME_CAT]]
    .drop_duplicates()
    .sort_values([COL_REF, COL_ID], na_position="last")
)

print("Referencias Liquidado en timeline que NO est√°n en base_liq:", len(refs_liq_faltan_en_base))

# ====== 4) (Opcional) Caso m√°s estricto: existen en base, pero NO est√°n como Liquidado en base ======
# IDs que est√°n liquidado en timeline, pero en base aparecen con otra categor√≠a (o m√∫ltiples)
base_map = (
    df_base_funnel[[COL_ID, COL_BASE_CAT]]
    .dropna(subset=[COL_ID])
    .assign(**{COL_ID: df_base_funnel[COL_ID].astype(str)})
)

# ids de timeline liquidado que s√≠ existen en base pero base no los tiene liquidado (en ninguna fila)
ids_existentes_en_base = ids_time.intersection(set(base_map[COL_ID]))
ids_base_liq = set(base_liq[COL_ID].dropna().astype(str))

ids_liq_en_time_pero_no_liq_en_base = sorted(ids_existentes_en_base - ids_base_liq)

df_ids_no_liq_en_base = (
    df_timeline_final.loc[
        df_timeline_final[COL_TIME_CAT].eq("Liquidado") &
        df_timeline_final[COL_ID].dropna().astype(str).isin(ids_liq_en_time_pero_no_liq_en_base),
        [COL_ID, COL_REF, COL_TIME_CAT]
    ]
    .drop_duplicates()
)

print("IDs Liquidado en timeline que existen en base, pero base NO los tiene como Liquidado:",
      len(ids_liq_en_time_pero_no_liq_en_base))

# ====== RESULTADOS ======
# df_ids_faltan -> "Liquidado" en timeline pero no en base_liq (por ID)
# df_refs_faltan -> "Liquidado" en timeline pero no en base_liq (por Referencia)
# df_ids_no_liq_en_base -> "Liquidado" en timeline y existe en base, pero base no lo marca Liquidado

Conteo Liquidado base: 200
Conteo Liquidado timeline: 336
IDs Liquidado en timeline que NO est√°n en base_liq: 136
Referencias Liquidado en timeline que NO est√°n en base_liq: 82
IDs Liquidado en timeline que existen en base, pero base NO los tiene como Liquidado: 136

In [ ]:
df_ids_faltan

       Id deuda  Referencia CATEGORIA_PRED
2632    1155644  3182714307      Liquidado
3582    1271695  3115574264      Liquidado
3688    1287814  3507903075      Liquidado
5232    1435715  3102196839      Liquidado
5706    1460886  3194851080      Liquidado
...         ...         ...            ...
35800   2012600  3219471655      Liquidado
35803   2012601  3219471655      Liquidado
35805   2012602  3219471655      Liquidado
35807   2012603  3219471655      Liquidado
37599   2032935  3046035643      Liquidado

[136 rows x 3 columns]

In [ ]:
df_ids_no_liq_en_base

       Id deuda  Referencia CATEGORIA_PRED
2632    1155644  3182714307      Liquidado
3582    1271695  3115574264      Liquidado
3688    1287814  3507903075      Liquidado
5232    1435715  3102196839      Liquidado
5706    1460886  3194851080      Liquidado
...         ...         ...            ...
35800   2012600  3219471655      Liquidado
35803   2012601  3219471655      Liquidado
35805   2012602  3219471655      Liquidado
35807   2012603  3219471655      Liquidado
37599   2032935  3046035643      Liquidado

[136 rows x 3 columns]

#Subir dataframe

In [ ]:
# =========================================================
# TIMELINE -> SUBIDA COMPLETA (robusta)  ‚úÖ
# - Con retry + backoff
# - Con chunks fallback
# - FIX: worksheet.update() con named args (compat GitHub/Colab)
# =========================================================

import os, json, re, time, random
import numpy as np
import pandas as pd

import gspread
from gspread_dataframe import set_with_dataframe
from google.oauth2.service_account import Credentials
from gspread.exceptions import APIError, WorksheetNotFound

RETRIABLE_CODES = ["[500]", "[502]", "[503]", "[504]", "[429]"]

def _retry(fn, label="", tries=10, base_sleep=1.5, jitter=0.6, max_sleep=45):
    last_err = None
    for i in range(tries):
        try:
            return fn()
        except APIError as e:
            last_err = e
            msg = str(e)
            if any(c in msg for c in RETRIABLE_CODES):
                extra = 6.0 if ("resize" in label.lower() or "update" in label.lower()) else 0.0
                sleep_s = min((base_sleep + extra) * (2 ** i) + random.uniform(0, jitter), max_sleep)
                print(f"[RETRY {i+1}/{tries}] {label} -> {msg[:120]}... sleep {sleep_s:.1f}s")
                time.sleep(sleep_s)
                continue
            raise
    raise last_err

def _robust_json_loads(s: str) -> dict:
    if not isinstance(s, str):
        raise TypeError("Se esperaba string para parsear JSON")
    s0 = s.strip()
    if (s0.startswith('"') and s0.endswith('"')) or (s0.startswith("'") and s0.endswith("'")):
        s0 = s0[1:-1].strip()
    try:
        return json.loads(s0)
    except Exception:
        pass
    s1 = s0.replace("\\n", "\n")
    try:
        return json.loads(s1)
    except Exception:
        pass

    def fix_private_key(text: str) -> str:
        m = re.search(r'"private_key"\s*:\s*"([\s\S]*?)"\s*,\s*"client_email"', text)
        if not m:
            return text
        pk = m.group(1)
        pk_fixed = pk.replace("\n", "\\n")
        return text.replace(pk, pk_fixed)

    s2 = fix_private_key(s0)
    return json.loads(s2)

def load_service_account_info():
    try:
        from google.colab import userdata
        mi_json = userdata.get("MI_JSON")
        if mi_json:
            if isinstance(mi_json, dict):
                return mi_json
            return _robust_json_loads(mi_json)
    except Exception:
        pass

    sa = os.getenv("GOOGLE_SERVICE_ACCOUNT_JSON") or os.getenv("MI_JSON")
    if not sa:
        raise ValueError("‚ùå Faltan credenciales: define GOOGLE_SERVICE_ACCOUNT_JSON (o MI_JSON).")
    return _robust_json_loads(sa)

def _prepare_df_for_sheets(df: pd.DataFrame) -> pd.DataFrame:
    df_out = df.copy()
    df_out = df_out.replace([np.inf, -np.inf], np.nan)

    for c in df_out.columns:
        if pd.api.types.is_datetime64_any_dtype(df_out[c]):
            df_out[c] = df_out[c].dt.strftime("%Y-%m-%d %H:%M:%S")

    df_out = df_out.where(pd.notna(df_out), "")
    return df_out

def _upload_chunked(ws, df_out: pd.DataFrame, sheet_name: str, chunk_size: int = 3000, pause_s: float = 0.6):
    ncols = max(len(df_out.columns), 1)
    header = [df_out.columns.tolist()]

    _retry(lambda: ws.update(range_name="A1", values=header), label=f"update header {sheet_name}")

    data = df_out.values.tolist()
    start_row = 2
    last_col_letter = gspread.utils.rowcol_to_a1(1, ncols).replace("1", "")

    for i in range(0, len(data), chunk_size):
        chunk = data[i:i + chunk_size]
        end_row = start_row + len(chunk) - 1
        cell_range = f"A{start_row}:{last_col_letter}{end_row}"

        _retry(
            lambda cr=cell_range, ch=chunk: ws.update(
                range_name=cr,
                values=ch,
                value_input_option="USER_ENTERED",
            ),
            label=f"update chunk {sheet_name} rows {start_row}-{end_row}"
        )

        start_row = end_row + 1
        time.sleep(pause_s)

def upload_timeline_full(gc, spreadsheet_id: str, df_timeline_final: pd.DataFrame, sheet_name="Timeline"):
    spreadsheet = _retry(lambda: gc.open_by_key(spreadsheet_id), label="open spreadsheet")
    df_out = _prepare_df_for_sheets(df_timeline_final)

    nrows = max(len(df_out) + 1, 2)
    ncols = max(len(df_out.columns), 1)

    def _get_or_create_ws():
        try:
            return spreadsheet.worksheet(sheet_name)
        except WorksheetNotFound:
            return spreadsheet.add_worksheet(title=sheet_name, rows="100", cols=str(ncols))

    ws = _retry(_get_or_create_ws, label=f"get/create worksheet {sheet_name}")

    # Timeline s√≠ se puede reescribir completo
    _retry(lambda: ws.clear(), label=f"clear {sheet_name}")

    try:
        _retry(lambda: ws.resize(rows=1000, cols=ncols), label=f"resize small {sheet_name}", tries=10, base_sleep=2.0)
        _retry(lambda: ws.resize(rows=nrows, cols=ncols), label=f"resize final {sheet_name}", tries=10, base_sleep=2.0)
    except APIError as e:
        print(f"‚ö†Ô∏è Resize fall√≥ en '{sheet_name}'. Sigo sin resize. {str(e)[:140]}...")

    try:
        _retry(
            lambda: set_with_dataframe(ws, df_out, include_index=False, include_column_header=True, resize=False),
            label=f"set_with_dataframe {sheet_name}",
            tries=8,
            base_sleep=1.5
        )
        return True, f"‚úÖ {sheet_name}: {len(df_out):,} filas x {ncols} cols (set_with_dataframe)"
    except APIError as e:
        print(f"‚ö†Ô∏è set_with_dataframe fall√≥ en '{sheet_name}'. Paso a chunks. {str(e)[:140]}...")

    _upload_chunked(ws, df_out, sheet_name, chunk_size=3000, pause_s=0.6)
    return True, f"‚úÖ {sheet_name}: {len(df_out):,} filas x {ncols} cols (chunked)"


# --------- AUTH + RUN ----------
SERVICE_ACCOUNT_INFO = load_service_account_info()
SCOPES = ["https://www.googleapis.com/auth/spreadsheets", "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_info(SERVICE_ACCOUNT_INFO, scopes=SCOPES)
gc = gspread.authorize(creds)

SPREADSHEET_ID = "1Bm1wjsfXdNDFrFTStQJHkERC08Eo21BwjZnu-WncibY"

ok_t, msg_t = upload_timeline_full(gc, SPREADSHEET_ID, df_timeline_final, "Timeline")
print(msg_t)

‚úÖ Timeline: 44,200 filas x 39 cols (set_with_dataframe)

In [ ]:
# =========================================================
# FUNNEL -> UPSERT POR "Id deuda" ‚úÖ
# - NO borra la hoja
# - Lee lo existente en Sheets
# - Por cada Id deuda:
#     - si existe y alguna columna distinta -> actualiza la fila completa
#     - si no existe -> agrega al final
# - FIX: worksheet.update() con named args (compat GitHub/Colab)
# =========================================================

import os, json, re, time, random
import numpy as np
import pandas as pd

import gspread
from google.oauth2.service_account import Credentials
from gspread.exceptions import APIError, WorksheetNotFound

RETRIABLE_CODES = ["[500]", "[502]", "[503]", "[504]", "[429]"]

def _retry(fn, label="", tries=10, base_sleep=1.5, jitter=0.6, max_sleep=45):
    last_err = None
    for i in range(tries):
        try:
            return fn()
        except APIError as e:
            last_err = e
            msg = str(e)
            if any(c in msg for c in RETRIABLE_CODES):
                sleep_s = min((base_sleep) * (2 ** i) + random.uniform(0, jitter), max_sleep)
                print(f"[RETRY {i+1}/{tries}] {label} -> {msg[:120]}... sleep {sleep_s:.1f}s")
                time.sleep(sleep_s)
                continue
            raise
    raise last_err

def _robust_json_loads(s: str) -> dict:
    if not isinstance(s, str):
        raise TypeError("Se esperaba string para parsear JSON")
    s0 = s.strip()
    if (s0.startswith('"') and s0.endswith('"')) or (s0.startswith("'") and s0.endswith("'")):
        s0 = s0[1:-1].strip()
    try:
        return json.loads(s0)
    except Exception:
        pass
    s1 = s0.replace("\\n", "\n")
    try:
        return json.loads(s1)
    except Exception:
        pass

    def fix_private_key(text: str) -> str:
        m = re.search(r'"private_key"\s*:\s*"([\s\S]*?)"\s*,\s*"client_email"', text)
        if not m:
            return text
        pk = m.group(1)
        pk_fixed = pk.replace("\n", "\\n")
        return text.replace(pk, pk_fixed)

    s2 = fix_private_key(s0)
    return json.loads(s2)

def load_service_account_info():
    try:
        from google.colab import userdata
        mi_json = userdata.get("MI_JSON")
        if mi_json:
            if isinstance(mi_json, dict):
                return mi_json
            return _robust_json_loads(mi_json)
    except Exception:
        pass

    sa = os.getenv("GOOGLE_SERVICE_ACCOUNT_JSON") or os.getenv("MI_JSON")
    if not sa:
        raise ValueError("‚ùå Faltan credenciales: define GOOGLE_SERVICE_ACCOUNT_JSON (o MI_JSON).")
    return _robust_json_loads(sa)

def _prepare_df_for_sheets(df: pd.DataFrame) -> pd.DataFrame:
    df_out = df.copy()
    df_out = df_out.replace([np.inf, -np.inf], np.nan)

    for c in df_out.columns:
        if pd.api.types.is_datetime64_any_dtype(df_out[c]):
            # datetime64[ns] y datetime64[ns, tz]
            df_out[c] = pd.to_datetime(df_out[c], errors="coerce").dt.strftime("%Y-%m-%d %H:%M:%S")

    df_out = df_out.where(pd.notna(df_out), "")
    return df_out

def _df_to_str_matrix(df: pd.DataFrame, cols: list[str]) -> pd.DataFrame:
    """
    Normaliza para comparar contra Sheets (que casi siempre devuelve strings).
    """
    out = df[cols].copy()
    for c in cols:
        # todo como string comparable; "" para vac√≠os
        out[c] = out[c].astype(str)
        out.loc[out[c].isin(["nan", "NaT", "<NA>", "None"]), c] = ""
    return out

def _get_or_create_ws(spreadsheet, sheet_name: str, ncols: int):
    try:
        return spreadsheet.worksheet(sheet_name)
    except WorksheetNotFound:
        return spreadsheet.add_worksheet(title=sheet_name, rows="100", cols=str(ncols))

def _write_header_if_needed(ws, cols: list[str]):
    values = _retry(lambda: ws.get_all_values(), label="get_all_values header check")
    if not values:
        _retry(lambda: ws.update(range_name="A1", values=[cols]), label="write header (empty sheet)")
        return

    header = values[0]
    if header != cols:
        # IMPORTANTE: no reordenamos data vieja aqu√≠, solo corregimos encabezado.
        # Si tu hoja tuviera columnas distintas, esto te lo hace evidente.
        print("‚ö†Ô∏è Header en Sheets distinto al DF. Se sobrescribe header con el del DF.")
        print("   Sheets:", header)
        print("   DF    :", cols)
        _retry(lambda: ws.update(range_name="A1", values=[cols]), label="rewrite header")

def _batch_update_rows(ws, start_col_letter: str, end_col_letter: str, row_blocks: list[tuple[int,int,list[list[str]]]]):
    """
    row_blocks: [(start_row, end_row, values_matrix)]
    """
    for (r1, r2, mat) in row_blocks:
        rng = f"{start_col_letter}{r1}:{end_col_letter}{r2}"
        _retry(
            lambda rr=rng, mm=mat: ws.update(range_name=rr, values=mm, value_input_option="USER_ENTERED"),
            label=f"update rows {r1}-{r2}"
        )
        time.sleep(0.4)

def _make_consecutive_blocks(rownums_sorted: list[int], values_by_rownum: dict[int, list[str]]):
    """
    Agrupa filas consecutivas para reducir llamadas a la API.
    Retorna [(start_row, end_row, matrix_values)]
    """
    blocks = []
    if not rownums_sorted:
        return blocks

    start = prev = rownums_sorted[0]
    mat = [values_by_rownum[start]]

    for r in rownums_sorted[1:]:
        if r == prev + 1:
            mat.append(values_by_rownum[r])
            prev = r
        else:
            blocks.append((start, prev, mat))
            start = prev = r
            mat = [values_by_rownum[r]]
    blocks.append((start, prev, mat))
    return blocks

def upload_funnel_upsert_by_id(gc, spreadsheet_id: str, df_base_funnel: pd.DataFrame, sheet_name="Funnel"):
    spreadsheet = _retry(lambda: gc.open_by_key(spreadsheet_id), label="open spreadsheet")
    df_out = _prepare_df_for_sheets(df_base_funnel)

    # Asegurar columnas EXACTAS y en el orden del DF
    cols = df_out.columns.tolist()
    if "Id deuda" not in cols:
        raise ValueError("‚ùå df_base_funnel no tiene la columna 'Id deuda'.")

    ncols = len(cols)
    ws = _retry(lambda: _get_or_create_ws(spreadsheet, sheet_name, ncols), label=f"get/create ws {sheet_name}")

    # Header
    _write_header_if_needed(ws, cols)

    # Leer todo lo existente
    values = _retry(lambda: ws.get_all_values(), label=f"get_all_values {sheet_name}")

    if len(values) <= 1:
        # Hoja vac√≠a (o s√≥lo header): subir todo sin borrar
        print("‚ÑπÔ∏è Funnel vac√≠o (o s√≥lo header). Hago carga inicial por append en chunks.")
        data_all = _df_to_str_matrix(df_out, cols).values.tolist()
        for i in range(0, len(data_all), 1000):
            chunk = data_all[i:i+1000]
            _retry(lambda ch=chunk: ws.append_rows(ch, value_input_option="USER_ENTERED"), label=f"append_rows init {i}-{i+len(chunk)-1}")
            time.sleep(0.7)
        return True, f"‚úÖ {sheet_name}: carga inicial {len(df_out):,} filas x {ncols} cols (append)"

    sheet_header = values[0]
    sheet_rows = values[1:]

    # Construir DF de Sheets
    df_sheet = pd.DataFrame(sheet_rows, columns=sheet_header)

    # Si por cualquier raz√≥n Sheets no trae todas las columnas, nos quedamos con intersecci√≥n
    missing_in_sheet = [c for c in cols if c not in df_sheet.columns]
    if missing_in_sheet:
        print("‚ö†Ô∏è En Sheets faltan estas columnas vs DF (ojo):", missing_in_sheet)
        # Igual seguimos, pero esas columnas las tratamos como "" al comparar
        for c in missing_in_sheet:
            df_sheet[c] = ""

    # Normalizar Id deuda como string (clave)
    df_sheet["Id deuda"] = df_sheet["Id deuda"].astype(str)
    df_py_cmp = _df_to_str_matrix(df_out, cols)
    df_py_cmp["Id deuda"] = df_py_cmp["Id deuda"].astype(str)

    # Map id -> row_number en Sheets (row 2 = primer dato)
    id_to_rownum = {}
    for i, v in enumerate(df_sheet["Id deuda"].tolist(), start=2):
        if v != "":
            # si hay duplicados, nos quedamos con el primero (puedes cambiarlo si prefieres el √∫ltimo)
            if v not in id_to_rownum:
                id_to_rownum[v] = i

    ids_sheet = set(id_to_rownum.keys())
    ids_py = set(df_py_cmp["Id deuda"].tolist())

    ids_common = ids_py.intersection(ids_sheet)
    ids_new = sorted(list(ids_py - ids_sheet))

    # Indexar para comparaci√≥n r√°pida
    df_sheet_cmp = _df_to_str_matrix(df_sheet, cols)
    df_sheet_cmp["Id deuda"] = df_sheet_cmp["Id deuda"].astype(str)

    sheet_by_id = df_sheet_cmp.set_index("Id deuda", drop=False)
    py_by_id = df_py_cmp.set_index("Id deuda", drop=False)

    # Encontrar ids cambiados (comparando todas las columnas excepto Id deuda)
    compare_cols = [c for c in cols if c != "Id deuda"]
    changed_ids = []
    for _id in ids_common:
        # si por algo no aparece, saltamos
        if _id not in sheet_by_id.index or _id not in py_by_id.index:
            continue
        a = sheet_by_id.loc[_id, compare_cols]
        b = py_by_id.loc[_id, compare_cols]
        # a y b son Series
        if not a.equals(b):
            changed_ids.append(_id)

    # Preparar updates por row_number
    values_by_rownum = {}
    for _id in changed_ids:
        rownum = id_to_rownum.get(_id)
        if not rownum:
            continue
        row_values = py_by_id.loc[_id, cols].tolist()
        values_by_rownum[rownum] = row_values

    rownums_sorted = sorted(values_by_rownum.keys())

    start_col_letter = "A"
    end_col_letter = gspread.utils.rowcol_to_a1(1, ncols).replace("1", "")
    blocks = _make_consecutive_blocks(rownums_sorted, values_by_rownum)

    # Aplicar updates (en bloques)
    if blocks:
        _batch_update_rows(ws, start_col_letter, end_col_letter, blocks)

    # Append nuevos
    if ids_new:
        rows_new = [py_by_id.loc[_id, cols].tolist() for _id in ids_new]
        for i in range(0, len(rows_new), 1000):
            chunk = rows_new[i:i+1000]
            _retry(lambda ch=chunk: ws.append_rows(ch, value_input_option="USER_ENTERED"), label=f"append_rows new {i}-{i+len(chunk)-1}")
            time.sleep(0.8)

    return True, (
        f"‚úÖ {sheet_name}: "
        f"{len(changed_ids):,} filas actualizadas, {len(ids_new):,} nuevas (Id deuda). "
        f"Total DF={len(df_out):,} / Total sheet aprox={len(sheet_rows):,}"
    )


# --------- AUTH + RUN ----------
SERVICE_ACCOUNT_INFO = load_service_account_info()
SCOPES = ["https://www.googleapis.com/auth/spreadsheets", "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_info(SERVICE_ACCOUNT_INFO, scopes=SCOPES)
gc = gspread.authorize(creds)

SPREADSHEET_ID = "1Bm1wjsfXdNDFrFTStQJHkERC08Eo21BwjZnu-WncibY"

ok_f, msg_f = upload_funnel_upsert_by_id(gc, SPREADSHEET_ID, df_base_funnel, "Funnel")
print(msg_f)

‚úÖ Funnel: 41,284 filas actualizadas, 0 nuevas (Id deuda). Total DF=41,284 / Total sheet aprox=41,284